<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4 class="page-title">Inmueble</h4>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-icon btn-round btn-primary float-right" data-toggle="modal" data-target="#modalBuscar" @click="limpiaCampos()"><i class="fa fa-search"></i></button>
                <button class="btn btn-primary btn-round btnAgregar float-right" data-toggle="modal" data-target="#modalFormulario" @click="abreModal()">Agregar</button>
            </div>
        </div>
                        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="modal fade bd-example-modal-lg" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-text="tituloModal"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-md-12" id="divCliente" v-if="rol == 'admin'">
                                        <label for="txtClave">Cliente</label>
                                        <select class="form-control form-control" v-model="inmueble.cliente_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in clientes" :key='index' v-text="item.nombre + ' '+ item.apellido " :value="item.id"></option>>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-12" id="divNombre">
                                        <label for="txtNombre" class="labelTitulo">Nombre: </label>
                                        <input class="form-control" placeholder="Nombre" v-model="inmueble.nombre" autocomplete="off">
                                    </div>
                                    <div class="row centraModal">
                                        <div class="form-group col-md-3" id="divMunicipio">
                                            <label for="txtMunicipio" class="labelTitulo">Municipio: </label>
                                            <input class="form-control" placeholder="Municipio" v-model="inmueble.municipio" autocomplete="off">
                                        </div>
                                                                            
                                        <div class="form-group col-md-3" id="divColonia">
                                            <label for="txtColonia" class="labelTitulo">Colonia: </label>
                                            <input class="form-control" placeholder="Colonia" v-model="inmueble.colonia" autocomplete="off">
                                        </div>

                                        <div class="form-group col-md-3" id="divCalle">
                                            <label for="txtCalle" class="labelTitulo">Calle: </label>
                                            <input class="form-control" placeholder="Calle" v-model="inmueble.calle" autocomplete="off">
                                        </div>

                                        <div class="form-group col-md-3" id="divNumero">
                                            <label for="txtNumero" class="labelTitulo">Número: </label>
                                            <input class="form-control" placeholder="Número" v-model="inmueble.numero" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="row centraModal">
                                        <div class="form-group col-md-3" id="divTExclusivo">
                                            <label for="divTExclusivo" class="labelTitulo">Terreno exclusivo: </label>
                                            <input type="number" step='0.01' min="0" class="form-control" placeholder="Terreno exclusivo" v-model="inmueble.terreno_exclusivo" autocomplete="off">
                                        </div>
                                                                            
                                        <div class="form-group col-md-3" id="divTComun">
                                            <label for="divTComun" class="labelTitulo">Terreno común: </label>
                                            <input type="number" step='0.01' min="0" class="form-control" placeholder="Terreno común:" v-model="inmueble.terreno_comun" autocomplete="off">
                                        </div>

                                        <div class="form-group col-md-3" id="divCExclusiva">
                                            <label for="divCExclusiva" class="labelTitulo">Construcción exclusiva: </label>
                                            <input type="number" step='0.01' min="0" class="form-control" placeholder="Construcción exclusiva" v-model="inmueble.constuccion_exclusiva" autocomplete="off">
                                        </div>

                                        <div class="form-group col-md-3" id="divCComun">
                                            <label for="txtCComun" class="labelTitulo">Construcción común: </label>
                                            <input type="number" step='0.01' min="0" class="form-control" placeholder="Construcción común" v-model="inmueble.constuccion_comun" autocomplete="off">
                                        </div>
                                    </div>

                                    <div class="form-group centraModal">
                                        <label for="txtDescripcion" class="labelTitulo">Descripcion: </label>
                                        <textarea class="form-control" rows="3" v-model="inmueble.descripcion"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" @click="guardar();" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Buscar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group" id="divCliente" v-if="rol == 'admin'">
                                        <label for="txtClave">Cliente</label>
                                        <select class="form-control form-control" v-model="filtros.cliente_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in clientes" :key='index' v-text="item.nombre + ' '+ item.apellido " :value="item.id"></option>>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtNombre">Nombre</label>
                                        <input class="form-control" placeholder="Nombre" v-model="filtros.nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMunicipio">Municipio</label>
                                        <input class="form-control" placeholder="Municipio" v-model="filtros.municipio">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtDescripcion">Descripcion</label>
                                        <input class="form-control" placeholder="Descripcion" v-model="filtros.descripcion">
                                    </div>
                                </form>
                            </div>

                            
                            <div class="modal-footer">
                                <button type="button" id="btnCerrarBusqueda" class="btn btn-secondary" data-dismiss="modal" style="display:none;">Cancelar</button>
                                <button type="button" @click="listar('buscar');" class="btn btn-primary">Buscar</button>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="loading == true" class="d-flex justify-content-center" style="background: #1a2035;">
                        <div class="spinner-border text-secondary" role="status">
                            <i class="fas fa-spinner fa-pulse fa-4x" id="cargando"></i>
                        </div>
                    </div>
                    <template v-else>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th @click="ordenar('cliente')" id="cliente" scope="col" v-if="rol == 'admin'">Cliente</th>
                                        <th @click="ordenar('nombre')" id="nombre" scope="col">Nombre</th>
                                        <!-- <th @click="ordenar('direccion')" id="direccion" scope="col">Direccion</th> -->
                                        <th @click="ordenar('terreno_exclusivo')" id="terreno_exclusivo" scope="col">Terreno exclusivo</th>
                                        <th @click="ordenar('terreno_comun')" id="terreno_comun" scope="col">Terreno común</th>
                                        <th @click="ordenar('constuccion_exclusiva')" id="constuccion_exclusiva" scope="col">Construcción exclusiva</th>
                                        <th @click="ordenar('constuccion_comun')" id="constuccion_comun" scope="col">Construcción común</th>
                                        <th style="width:25%">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in inmuebles.data" :key="item.id">
                                        <th scope="row" v-text="item.cli_nombre + ' '+ item.cli_apellido" v-if="rol == 'admin'"></th>
                                        <td v-text="item.nombre"></td>
                                        <!-- <td>{{item.municipio + " col. " + item.colonia + " calle: " + item.calle + " #" + item.numero}}</td> -->
                                        <td class="text-center" v-text="item.terreno_exclusivo"></td>
                                        <td class="text-center" v-text="item.terreno_comun"></td>
                                        <td class="text-center" v-text="item.constuccion_exclusiva"></td>
                                        <td class="text-center" v-text="item.constuccion_comun"></td>
                                        <td>
                                            <span>
                                                <button type="button" @click="generar(item)" title="Generar" class="btn btn-link"><i class="fa fa-print" style="color: #fff"></i></button>
                                            </span>

                                            <span>
                                                <a :href="'/areas/' + item.id" title="Áreas" class="btn btn-link" ><i class="fa fa-bars" style="color: #fff"></i></a>
                                            </span>
                                            <span>
                                                <button type="button" @click="abreModal(item)" title="Editar" class="btn btn-link" data-toggle="modal" data-target="#modalFormulario"><i class="fa fa-edit" style="color: #fff"></i></button>
                                            </span>
                                            <span>
                                                <button type="button" @click="eliminar(item,'delete')" title="Eliminar" class="btn btn-link"><i class="far fa-trash-alt" style="color: #fff"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row paginacion" id="paginacion">
                            <div class="col-md-12 float-right">
                                <nav aria-label="Page navigation example" style="float:right;">
                                    <div class="pagination" >
                                        <div class="input-group mb-3">
                                            <div class="dataTables_info"> Mostrar: </div>
                                            <div style="width: 70px;">
                                                <select class="custom-select" v-model="show">
                                                    <option value="10" selected>10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <div class="dataTables_info"> <span v-text="from" ></span> - <span v-text="to" ></span> de <span v-text="total" ></span> </div>
                                            <div class="pagination" id="">
                                                <li class="page-item">
                                                    <span  v-if="filtros.page == 1" tabindex="0" class="page-link" >Anterior</span>
                                                    <span  v-else @click="cambiaPagina('anterior')" tabindex="0" class="page-link" >Anterior</span>
                                                </li>
                                                
                                                <li :class="pag.activo" v-for="(pag, i) in paginas" :key="i">
                                                    <span @click="cambiaPagina(pag.pagina)" tabindex="0" class="page-link" >{{ pag.pagina }}</span>
                                                </li>
                                                
                                                <li class="page-item">
                                                    <span  v-if="inmuebles.last_page == filtros.page" class="page-link">Siguiente</span>
                                                    <span  v-else class="page-link" @click="cambiaPagina('siguiente')">Siguiente</span>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                loading     : true,
                base_url    : '/api/inmuebles',
                clientes    : [],
                inmuebles   : [],
                tituloModal : "",
                rol         : 'usuario',
                filtros:{
                    cliente_id  : null,
                    nombre      : "",
                    municipio   : "",
                    descripcion : "",
                    order       : "desc",
                    order_by    : "id",
                    page        : 1,
                    show        : 10,
                },
                inmueble:{
                    id          : 0,
                    cliente_id  : null,
                    nombre      : "",
                    municipio   : "",
                    calle       : "",
                    numero      : "",
                    colonia     : "",
                    descripcion : "",
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    constuccion_exclusiva   : "",
                    constuccion_comun       : "",
                },
                paginas : [],
                show    : 10,        
                to      : 0,
                from    : 0,
                total   : 0,
            }
        },
        watch:{
            show: function(val) {
                this.filtros.show = val;
                this.filtros.page = 1;
                this.listar();
            }
        },
        methods: {
            async listar(accion = ''){ 
                if(accion != '')
                    document.getElementById("btnCerrarBusqueda").click();

                try{
                    const res = await axios.get(this.base_url +'/find', { params: this.filtros });
                    this.inmuebles  = res.data;
                    this.to         = res.data.to == null ? 0 : res.data.to;
                    this.from       = res.data.from == null ? 0 : res.data.from;
                    this.total      = res.data.total;
                    this.paginas    = [];
                    
                    for (let i = 1; i <= res.data.last_page; i++) {
                        let activo = 'page-item';

                        if(i == res.data.current_page)
                            activo = 'page-item active';
                        
                        if(res.data.last_page > 4){
                            if(res.data.current_page <= 3){
                                if(i <= 5)
                                    this.paginas.push({ pagina: i, activo: activo });                           
                                else if( i == 6)
                                    this.paginas.push({ pagina: '...', activo: activo });
                                else if(i == res.data.last_page)
                                    this.paginas.push({ pagina: i, activo: activo });
                            }
                            else{
                                if( i == ( res.data.current_page -2)){                                    
                                    this.paginas.push({ pagina: 1, activo: activo});
                                    this.paginas.push({ pagina: '...', activo: activo });
                                }
                                if( i == (res.data.current_page - 1) || i == res.data.current_page || i == (res.data.current_page +1) )
                                    this.paginas.push({ pagina: i, activo: activo });
                                
                                if( i == ( res.data.current_page  + 2)){
                                    this.paginas.push({ pagina: '...', activo: activo});
                                    this.paginas.push({ pagina: res.data.last_page, activo: activo });
                                }
                            }
                        }
                        else{
                            this.paginas.push({ pagina: i, activo: activo }); 
                        }
                    }
                    this.loading = false;
                }
                catch(error){
                    this.respuestaError(error);
                }
            },
            abreModal(item = null){
                this.tituloModal = "Agregar del inmueble";
                this.limpiaCampos();

                if(item != null){
                    this.tituloModal = "Editar el inmueble";
                    this.inmueble.id            = item.id;
                    this.inmueble.cliente_id    = item.cliente_id;
                    this.inmueble.nombre        = item.nombre;
                    this.inmueble.municipio     = item.municipio;
                    this.inmueble.colonia       = item.colonia;
                    this.inmueble.calle         = item.calle;
                    this.inmueble.numero        = item.numero;
                    this.inmueble.descripcion   = item.descripcion;
                    this.inmueble.terreno_exclusivo     = item.terreno_exclusivo;
                    this.inmueble.terreno_comun         = item.terreno_comun;
                    this.inmueble.constuccion_exclusiva = item.constuccion_exclusiva;
                    this.inmueble.constuccion_comun     = item.constuccion_comun;
                }
            },
            async guardar(){
                if(!this.validate())
                    return;

                try {
                    let res = null;
                    this.inmueble.terreno_exclusivo    = this.inmueble.terreno_exclusivo      == "" ? 0 : this.inmueble.terreno_exclusivo;
                    this.inmueble.terreno_comun        = this.inmueble.terreno_comun          == "" ? 0 : this.inmueble.terreno_comun;
                    this.inmueble.constuccion_comun    = this.inmueble.constuccion_comun      == "" ? 0 : this.inmueble.constuccion_comun;
                    this.inmueble.constuccion_exclusiva = this.inmueble.constuccion_exclusiva == "" ? 0 : this.inmueble.constuccion_exclusiva;

                    if(this.inmueble.id == 0)
                        res = await axios.post(this.base_url, this.inmueble);
                    else
                        res = await axios.put(this.base_url, this.inmueble);
                    
                    this.respuestaOk("Cambios realizados exitosamente.");
                } catch (error) {
                    this.respuestaError(error);
                }
            },
            limpiaCampos(){
                let cliente_id  = this.rol == 'admin' ? null : this.inmueble.cliente_id;
                let show        = this.filtros.show;
                this.inmueble = {
                    id          : 0,
                    cliente_id  : cliente_id,
                    nombre      : "",
                     municipio  : "",
                    calle       : "",
                    numero      : "",
                    colonia     : "",
                    descripcion : "",
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    constuccion_exclusiva   : "",
                    constuccion_comun       : "",
                },

                this.filtros = {
                    cliente_id  : cliente_id,
                    nombre      : null,
                    municipio   : null,
                    descripcion : null,
                    order       : "desc",
                    page        : 1,
                    show        : show,
                }

                const items = document.querySelectorAll('.has-error');
                for (let i = 0; i < items.length; i++) {
                    items[i].className = '';
                }
            },
            validate(){
                let response = true;
                var nombre      = document.getElementById("divNombre");
                var municipio   = document.getElementById("divMunicipio");
                var colonia     = document.getElementById("divColonia");
                var calle       = document.getElementById("divCalle");
                var numero      = document.getElementById("divNumero");
                
                if(this.rol == "admin"){
                    let cliente = document.getElementById("divCliente");
                    if(this.inmueble.cliente_id == null || this.inmueble.cliente_id == "null"){
                        response = false;                    
                        cliente.className += " has-error";
                    }
                    else
                        cliente.classList.remove('has-error'); 
                }

                if(this.inmueble.nombre == ""){
                    response = false;                    
                    nombre.className += " has-error";
                }
                else
                   nombre.classList.remove('has-error');

                if(this.inmueble.municipio == ""){
                    response = false;                    
                    municipio.className += " has-error";
                }
                else
                   municipio.classList.remove('has-error');

                if(this.inmueble.colonia == ""){
                    response = false;                    
                    colonia.className += " has-error";
                }
                else
                   colonia.classList.remove('has-error');

                if(this.inmueble.calle == ""){
                    response = false;                    
                    calle.className += " has-error";
                }
                else
                   calle.classList.remove('has-error');

                if(this.inmueble.numero == ""){
                    response = false;                    
                    numero.className += " has-error";
                }
                else
                   numero.classList.remove('has-error');

                return response;    
            },
            eliminar(item){
                swal({
                    title: 'Alerta',
                    text: "¿Estas seguro que deseas eliminar el inmueble?",
                    type: 'warning',
                    icon: 'warning',
                    buttons:{
                        confirm: { text : 'Aceptar', className : 'btn btn-aceptar' },
                        cancel: { visible: true, text: "Cancelar", className: 'btn btn-cancelar' }
                    }
                })
                .then((Delete) => {
                    if (Delete){
                        let mensaje = "Se ha eliminado correctamente";
                        let params  = { id: item.id };

                        axios.post(this.base_url + '/delete', params)
                        .then(response => {
                            this.respuestaOk(mensaje);
                        })
                        .catch(error => {
                            this.respuestaError(error);
                        });
                    }
                    else
                        swal.close();
                });
            },
            async getClientes(){
                const res       = await axios.get('/api/clientes/find', { params: { activo: true } });
                this.clientes   = res.data.data;
            },
            cambiaPagina(pag){
                if(pag == '...')
                    return;
                    
                if(pag == 'anterior')
                    this.filtros.page = this.filtros.page  - 1;
                else if(pag == 'siguiente')
                    this.filtros.page = this.filtros.page  + 1;
                else
                    this.filtros.page = pag;

                this.listar();
            },
            ordenar(column){
                let row     =  document.getElementsByClassName("sorting");
                let order   = 'asc';

                if(row.length > 0){
                    order = row[0].className.includes('asc') ? 'desc' : 'asc';
                    const items = document.querySelectorAll('.sorting');
                    for (let i = 0; i < items.length; i++) {
                        items[i].className = '';
                    }
                }
                document.getElementById(column).classList.add('sorting');
                document.getElementById(column).classList.add(order);
                this.filtros.order      = order;
                this.filtros.order_by   = column;
                this.filtros.page       = 1;
                this.listar();
            },
            respuestaOk(mensaje= ''){
                document.getElementById("btnCerrar").click();
                setTimeout(() => {
                    swal({
                        title: 'Operacion exitosa',
                        text: mensaje,
                        icon: 'success',
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    this.listar();
                }, 250);
            },
            respuestaError(error){
                console.log(error);
                let mensaje = "Se presento un erro favor de intentar de nuevo";
         
                if(typeof(error.response.data.error) === 'string'){
                    mensaje = error.response.data.error;
                }
                else{
                    let errores = Object.values(error.response.data.error);
                    mensaje = ``;

                    for (var i = 0; i < errores.length; i++) {
                        mensaje+= `* ` + errores[i] + `\n`;
                    }
                }

                swal("Error!", mensaje, {
                    icon : "error",
                    buttons: { confirm: { className : 'btn btn-danger'}},
                });
            }
        },
        created() {
            let cliente              = document.getElementById('clienteId').value;
            this.filtros.cliente_id  = cliente == "" ? null : parseInt(cliente);
            this.inmueble.cliente_id = this.filtros.cliente_id
            this.listar();

            if(cliente == ""){
                this.rol = 'admin';
                this.getClientes();
            }
        }
    }
</script>

<style scoped>
    .centraModal{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 17px;
    }
</style>