<template>
  <div class="row">
    <div class="col-md-12">
      <template>
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="page-title">Registrarse</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="d-flex justify-content-between flex-column">
                <div
                  class="
                    pricing-table-plan__padding
                    pt-35
                    pb-40
                    d-flex
                    justify-content-between
                    flex-column
                  "
                >
                  <div class="d-flex flex-column">
                    <div>
                      <h1 class="text-center mt-3">Información del paquete</h1>
                    </div>
                    <div class="plan-header-container">
                      <h2 class="text-center mt-3">
                        {{ subscripcion.nombre }}
                      </h2>
                      <p
                        class="
                          mt-10
                          text-center
                          mh-50-md
                          pt-description
                          text-h-meteorite-dark
                        "
                      >
                        <span style="padding-left: 20px">
                          {{ subscripcion.descripcion }}</span
                        >
                      </p>
                    </div>
                    <div
                      class="
                        d-flex
                        align-items-center
                        justify-content-center
                        mt-20
                      "
                    >
                      <div
                        class="
                          text-content-grey
                          mr-5
                          ml-5
                          pt-discounted-price
                          white-space-no-wrap
                        "
                        data-original-price="99.99"
                      >
                        Créditos:
                      </div>
                      <div
                        class="
                          body
                          l200
                          text-white
                          fw-700
                          p-1
                          border-radius-round
                          pr-10
                          pl-10
                          text-center
                          primary
                          meteorite
                          small
                          discount-labels-pricing-table
                        "
                      >
                        {{ subscripcion.creditos }}
                      </div>
                    </div>
                    <div class="price-block">
                      <div class="price-block-wrapper pricing-table__price">
                        <div
                          class="
                            text-h-black text-center
                            fw-700
                            lh-1
                            mt-5
                            pricing-table-plan__price
                            d-flex
                            flex-wrap
                            justify-content-center
                          "
                        >
                          <span
                            class="
                              mx-3
                              price__symbol
                              pricing-table-price__symbol
                              currency-selector-symbol
                            "
                            >MX $ </span
                          ><span
                            class="
                              price__price
                              pricing-table-price__price
                              currency-selector-price
                            "
                            >{{ subscripcion.costo }}</span
                          ><span class="pt-title align-self-end lh-1"
                            >/mes</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="justify-content-center"></div>
                  </div>
                  <div>
                    <hr class="mt-40 mb-15" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="plan-header-container">
                <h2 class="text-center">Datos del usuario</h2>
              </div>

              <div>
                <div class="form-group mx-4 my-4" id="divNombre">
                  <input
                    class="form-control"
                    placeholder="Nombre(s)"
                    v-model="usuario.nombre"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group mx-4 my-4" id="divApellido">
                  <input
                    class="form-control"
                    placeholder="Apellidos"
                    v-model="usuario.apellido"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group mx-4 my-4" id="divTelefono">
                  <input
                    class="form-control"
                    placeholder="Télefono"
                    v-model="usuario.telefono"
                    autocomplete="off"
                    maxlength="10"
                    minlength="10"
                  />
                </div>
                <div class="form-group mx-4 my-4" id="divCorreo">
                  <input
                    class="form-control"
                    placeholder="Correo"
                    v-model="usuario.correo"
                    autocomplete="off"
                  />
                </div>

                <div>
                  <hr class="mt-40 mb-15" />
                  <button
                    class="btn btn-primary btn-round btnAgregar float-right"
                    v-on:click="registrarcomprar()"
                  >
                    Comprar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: ["subscripcion"],
  data() {
    return {
      loading: true,
      base_url: "/api/catalogos/subscripcion",
      subscripciones: [],
      tituloModal: "",
      paginas: [],
      show: 10,
      filtros: {
        nombre: "",
        cliente_id: null,
        order: "desc",
        order_by: "id",
        page: 1,
        show: 10,
      },
      usuario: {
        id: 0,
        cliente_id: "",
        rol_id: 2,
        nombre: null,
        apellido: "",
        telefono: "",
        correo: "",
        password: "123456",
      },

      clientes: [],
      rol: "usuario",
      to: 0,
      from: 0,
      total: 0,
    };
  },
  watch: {
    show: function (val) {},
  },
  methods: {
    respuestaOk(mensaje = "") {
      swal({
          title: "Operacion exitosa",
          text: "",
          icon: "success",
          type: "success",
          showConfirmButton: false,
          timer: 2000,
        });
    },
    respuestaError(error) {
      console.log(error);
      let mensaje = "Se presento un erro favor de intentar de nuevo";

      swal("Error!", mensaje, {
        icon: "error",
        buttons: { confirm: { className: "btn btn-danger" } },
      });
    },
    registrarcomprar() {
      if (!this.validate()) return;

      try {
        let res = null;

        axios
          .post(this.base_url + "/comprarpaquete", {
            subs: this.subscripcion,
            cliente: this.usuario,
          })
          .then((response) => {
            //this.respuestaOk("Cambios realizados exitosamente.");
            this.respuestaOk(response);
          })
          .catch((error) => {
            this.respuestaError(error);
          });
      } catch (error) {
        this.respuestaError(error);
      }
    },
    validate() {
      let response = true;

      return response;
    },
  },
  created() {
    let cliente = document.getElementById("clienteId").value;
    this.filtros.cliente_id = cliente == "" ? null : parseInt(cliente);
    this.subscripcion.cliente_id = this.filtros.cliente_id;
    this.subscripcion.gratuito = false;

    if (cliente == "") {
      this.rol = "admin";
    }
  },
};
</script>
