.login{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover
}

/*  Css para ordenamiento de tablas */
table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text-center{
    text-align:center
}

.asc:after {
    content: ' ↑';
}

.desc:after {
    content: " ↓";
}
/*  Css para ordenamiento de tablas */

.dataTables_info{
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.paginacion{
    margin-top: 20px;
    padding-right: 10px;
}
.swal-button--confirm{
    background-color: rgb(30, 34, 69);
    width: 101px;
}

.btn-cancelar{
    background-color: rgb(212, 16, 16);
    color: #fff;
    font-weight: bold;
}
.btn-aceptar{
    background-color: rgb(48, 133, 214);
    color: #fff;
    font-weight: bold;
}
.swal-text{
    text-align: center !important;
    font-size: 20px !important;
    margin-top: 10px !important;
}

.help.is-danger {
	color: red;
}
.form-control.is-danger {
	border: 1px solid red;
}

.modal-title{
    color: #000;
    font-weight: bold;
}
.error{
    color: red;
    font-size: 10px;
}
.btnAgregar{
    margin-right: 15px;
}
.btnImportar{
    margin-right: 10px;
}
.datosPerfil{
    margin-right: 20px !important;
    color: #000 !important;
    font-size: 22px !important;
}
.grupPerfil{
    margin-left: 10% !important;
}

.px_50{
    width: 50px;
}
.px_100{
    width: 100px;
}
.px_150{
    width: 150px;
}
.px_200{
    width: 200px;
}
.px_250{
    width: 250px;
}
.px_300{
    width: 300px;
}
.px_350{
    width: 350px;
}
.px_450{
    width: 400px;
}
.px_450{
    width: 450px;
}
.px_550{
    width: 550px;
}