/*     Responsive     */

@media screen and (max-width: 576px) {
    .row-card-no-pd [class*=col-] .card:before {
        width: calc(100% - 30px) !important;
        right: 15px !important;
        height: 1px !important;
    }
    .row-card-no-pd [class*=col-]:first-child .card:before {
        display: none !important;
    }
}

@media screen and (min-width: 991px) {
    .main-panel>.container,
    .main-panel>.container-full {
        min-height: calc(100% - 61px);
        margin-top: 61px;
    }
    .main-header.fixed .nav-bottom {
        transition: unset;
        z-index: -1;
        transform: translateY(-100%);
        visibility: hidden;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .main-header.fixed.up .nav-top {
        box-shadow: none;
    }
    .main-header.fixed.up .nav-bottom {
        animation-name: animateNavBottom;
        animation-duration: 0.4s;
        transform: translateY(0);
        visibility: visible;
    }
    .main-header[data-background-color] .navbar-header {
        background: inherit !important;
    }
    .main-header .nav-bottom .page-navigation {
        margin: 0 -20px;
    }
    .main-header .nav-bottom .page-navigation>.nav-item:hover .navbar-dropdown {
        display: block;
    }
    .main-header .nav-bottom .page-navigation.page-navigation-style-2>.nav-item {
        height: 65px;
    }
    .main-header .nav-bottom .page-navigation.page-navigation-style-2>.nav-item:first-child {
        margin-left: 20px;
    }
    .toggle-nav-search {
        display: none;
    }
    #search-nav {
        display: block !important;
    }
}

@media screen and (max-width: 991px) {
    .main-header[data-background-color=transparent] .nav-top {
        border-bottom-width: 0px !important;
    }
    .main-header[data-background-color=transparent] .nav-top .navbar-header {
        background: #fff;
    }
    .main-header .nav-top {
        min-height: 60px;
        height: 100%;
    }
    .main-header .nav-top .container {
        padding: 0px;
        width: 100%;
        max-width: unset;
        margin: 0;
    }
    .main-header .nav-bottom {
        height: 100%;
        width: 275px;
        max-width: calc(100% - 40px);
        position: fixed;
        z-index: 1200;
        left: 0 !important;
        right: 0;
        top: 0;
        -webkit-transform: translate3d(-275px, 0, 0);
        -moz-transform: translate3d(-275px, 0, 0);
        -o-transform: translate3d(-275px, 0, 0);
        -ms-transform: translate3d(-275px, 0, 0);
        transform: translate3d(-275px, 0, 0) !important;
        transition: all 0.5s;
        margin-top: 0px;
    }
    .main-header .nav-bottom>.container,
    .main-header .nav-bottom>.container-full {
        padding: 0 !important;
        height: 100vh;
    }
    .main-header .nav-bottom .title-menu {
        font-size: 14px;
        margin: 0;
        color: #fff;
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: relative;
        font-weight: 300;
        text-transform: uppercase;
    }
    .main-header .nav-bottom .title-menu .close-menu {
        color: #fff;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
    }
    .main-header .nav-bottom .quick-search {
        width: 100%;
    }
    .main-header .nav-bottom .quick-search .quick-search-form {
        width: 100%;
    }
    .main-header .nav-bottom .page-navigation {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        padding-bottom: 60px;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
    }
    .main-header .nav-bottom .page-navigation>.nav-item {
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .main-header .nav-bottom .page-navigation>.nav-item:first-child>a {
        margin-left: 0;
    }
    .main-header .nav-bottom .page-navigation>.nav-item>.nav-link {
        width: 100%;
        position: relative;
    }
    .main-header .nav-bottom .page-navigation>.nav-item .navbar-dropdown {
        position: relative;
        top: 0;
        border: 0;
        box-shadow: none;
    }
    .main-header .nav-bottom .page-navigation>.nav-item .navbar-dropdown ul {
        padding: 15px 25px !important;
    }
    .main-header .nav-bottom .page-navigation>.nav-item.submenu>.nav-link:after {
        position: absolute;
        right: 35px;
        height: unset;
    }
    .main-header .nav-bottom .page-navigation>.nav-item.mega-menu .navbar-dropdown {
        padding: 5px !important;
    }
    .main-header .nav-bottom .page-navigation>.nav-item .category-heading {
        padding-top: 0px;
    }
    .main-header .nav-bottom .page-navigation>.nav-item.show-submenu .navbar-dropdown {
        display: block;
    }
    .main-header .nav-bottom .page-navigation>.nav-item:not(.show-submenu)>.nav-link:after {
        transform: rotate(0deg) !important;
    }
    .main-header .nav-bottom .page-navigation.page-navigation-style-2>.nav-item {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-header .nav-bottom .page-navigation.page-navigation-style-2>.nav-item .navbar-dropdown {
        width: 100%;
        margin-top: 5px;
    }
    .fullwidth-style .nav-bottom .container,
    .fullwidth-style .nav-bottom .container-full {
        padding: 1rem !important;
    }
    .topbar_open .main-header {
        position: fixed;
    }
    .topbar_open .main-header .nav-top {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    .topbar_open .main-header[data-background-color=transparent] {
        background: #fff !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .nav-search .input-group {
        background: #eee;
    }
    .topbar_open .main-header[data-background-color=transparent] .nav-search .input-group .form-control {
        color: #666 !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .nav-search .input-group .search-icon {
        color: #666 !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .navbar-nav .nav-item .nav-link {
        color: #666 !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .navbar-nav .nav-item .nav-link:hover,
    .topbar_open .main-header[data-background-color=transparent] .navbar-nav .nav-item .nav-link:focus {
        background: #eee !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .navbar-nav .nav-item.active .nav-link {
        background: #eee !important;
    }
    .topbar_open .main-header[data-background-color=transparent] .navbar-toggler .navbar-toggler-icon,
    .topbar_open .main-header[data-background-color=transparent] .more,
    .topbar_open .main-header[data-background-color=transparent] .btn-toggle {
        color: #666 !important;
    }
    .nav_open .nav-bottom {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0) !important;
    }
    .nav_open .nav-bottom .title-menu .close-menu {
        right: -30px !important;
    }
    .nav_open {
        overflow: hidden !important;
    }
    .nav_open .wrapper {
        overflow-x: hidden;
    }
    .quick_sidebar_open .quick-sidebar {
        width: 350px;
    }
    .main-header {
        transition: all 0.5s;
    }
    #search-nav {
        margin: 0 auto !important;
    }
    .main-panel {
        width: 100%;
        transition: all 0.5s;
    }
    .main-panel .page-header .dropdown-menu:after {
        right: 16px !important;
    }
    .page-inner {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .page-inner-tab-style {
        border-radius: 8px !important;
        padding: 15px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .page-wrapper-tab-style {
        padding: 1.5rem 15px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        border-radius: 8px !important;
    }
    .page-wrapper-tab-style .page-inner-tab-style {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .page-wrapper-tab-style .page-inner-tab-style .conversations {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .page-wrapper-tab-style .page-sidebar {
        padding-right: 0 !important;
        top: 0;
        bottom: 0;
    }
    .page-wrapper-tab-style .page-sidebar .page-sidebar-section {
        box-shadow: none;
    }
    .page-wrapper-tab-style .page-sidebar .back {
        box-shadow: none;
    }
    .page-sidebar {
        background: #fff;
    }
    .nav-top {
        display: flex;
        width: 100% !important;
        text-align: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-top .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
    .nav-top .navbar-toggler {
        height: 100%;
        margin-left: 0px !important;
        opacity: 1;
        display: block;
        order: 1;
    }
    .nav-top .more {
        opacity: 1;
        color: #545454;
        cursor: pointer;
        display: inline-block;
        line-height: 56px;
        order: 3;
        width: unset;
        margin-left: auto;
    }
    .nav-top .navbar-brand {
        position: unset !important;
        margin-right: 0px;
    }
    .nav-search {
        width: 100%;
        margin-right: 0 !important;
    }
    .navbar-header {
        position: absolute;
        width: 100%;
        transform: translate3d(0, -200px, 0) !important;
        transition: all 0.5s;
        left: 0;
    }
    .topbar_open .navbar-header {
        transform: translate3d(0, 60px, 0) !important;
        padding: 6px;
    }
    .topbar_open .navbar-header .navbar-nav>.nav-item .nav-link i {
        font-size: 16px;
    }
    .topbar_open .navbar-header .navbar-nav>.nav-item:last-child .nav-link {
        padding: 0px !important;
    }
    .topbar_open .navbar-header .navbar-nav>.nav-item:last-child .quick-sidebar-toggler {
        padding-left: 5px !important;
    }
    .topbar_open .toggle-nav-search {
        display: list-item;
    }
    .topbar_open #search-nav {
        text-align: center;
        width: 100%;
        padding: 10px 15px;
        order: 1;
    }
    .topbar_open .main-panel {
        transform: translate3d(0, 122px, 0) !important;
    }
    .topbar_open>.container {
        margin-top: 0px !important;
    }
    .navbar-header .navbar-nav {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px !important;
        position: relative;
    }
    .navbar-header .navbar-nav .dropdown {
        position: unset;
    }
    .navbar-header .navbar-nav .dropdown-menu {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 280px;
    }
    .profile-pic span {
        display: none;
    }
    .nav-toggle {
        display: none;
    }
    .page-title {
        font-size: 18px;
    }
    .card .card-title {
        font-size: 18px;
    }
    .mail-wrapper .mail-option .email-filters-left {
        width: 50%;
    }
    .mail-wrapper .mail-option .email-filters-left .btn-group {
        margin-bottom: 10px;
    }
    /* Dropzone */
    .dropzone {
        padding: 20px 15px !important;
    }
    .dropzone .dz-message .message {
        font-size: 23px;
    }
    .dropzone .dz-message .note {
        font-size: 15px;
    }
}

@media screen and (min-width: 856px) {
    .mail-wrapper .aside-nav {
        display: block !important;
    }
}

@media screen and (max-width: 856px) {
    .mail-wrapper {
        flex-direction: column;
    }
    .mail-wrapper .page-aside {
        width: 100%;
        height: unset;
        min-height: unset;
        border-bottom: 1px solid #eee;
        border-left: 0;
        border-right: 0;
        background: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .mail-wrapper .page-aside .aside-header {
        padding-top: 25px;
        padding-bottom: 25px;
        background: grey;
    }
    .mail-wrapper .page-aside .aside-nav {
        background: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .mail-wrapper .mail-content {
        width: 100%;
    }
    .mail-wrapper .mail-content .inbox-head {
        flex-direction: column;
        align-items: left;
    }
    .mail-wrapper .mail-content .inbox-head h3 {
        font-size: 18px;
    }
    .mail-wrapper .mail-content .inbox-head form {
        margin-left: 0px !important;
        margin-top: 15px;
    }
    .mail-wrapper .mail-content .email-head h3 {
        font-size: 18px;
    }
    .mail-wrapper .mail-content .email-compose-fields {
        padding: 20px 15px;
    }
    .mail-wrapper .mail-option {
        flex-direction: column;
    }
    .mail-wrapper .mail-option .email-filters-left {
        width: 100%;
        margin-bottom: 10px;
    }
    .mail-wrapper .toggle-email-nav {
        display: inline-block !important;
    }
    .mail-wrapper .table-inbox tr td .badge {
        margin-top: 5px;
        float: left;
    }
}

@media screen and (max-width: 767px) {
    .wizard-container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .main-panel .page-header {
        flex-direction: column;
        align-items: normal;
        position: relative;
        min-height: 43px;
        justify-content: center;
    }
    .main-panel .page-header .breadcrumbs {
        margin-left: 0px;
        padding-top: 15px;
        padding-left: 5px;
        padding-bottom: 0px;
        border-left: 0px;
    }
    .main-panel .page-header .btn-group-page-header {
        position: absolute;
        right: 0px;
    }
    .footer .container-fluid {
        flex-direction: column;
    }
    .footer .container-fluid .copyright {
        margin-left: 0 !important;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    #chart-container {
        min-height: 250px;
    }
    .form-check-inline {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    #calendar .fc-toolbar {
        display: flex;
        flex-direction: column;
    }
    #calendar .fc-toolbar .fc-center,
    #calendar .fc-toolbar .fc-right,
    #calendar .fc-toolbar .fc-left {
        margin: auto;
        margin-bottom: 15px;
    }
    #calendar .fc-toolbar .fc-left {
        order: 1;
    }
    #calendar .fc-toolbar .fc-right {
        order: 3;
    }
    #calendar .fc-toolbar .fc-center {
        order: 2;
    }
    .conversations .conversations-body {
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width: 350px) {
    .quick_sidebar_open .quick-sidebar {
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 991px) {
    .nav_open .main-panel,
    .nav_open .main-header {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0) !important;
    }
}