<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4 class="page-title" v-text="tituloInmueble"></h4>
                    <ul class="breadcrumbs">
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/inmuebles">Inmuebles</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#" @click="cancelar()">Áreas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="divCodigo">
                                    <label>Código</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="area.codigo" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divArea">
                                    <label>Área</label>
                                    <div class="select2-input">
                                        <select class="form-control form-control" v-model="area.cat_area_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in catalogos.catArea" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group" id="divTipo">
                                    <label>Tipo</label>
                                    <div class="select2-input">
                                       <select class="form-control form-control" v-model="area.cat_tipo_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in catalogos.catTipo" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group"  id="divNumero">
                                    <label>Número</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="area.no">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divNivel">
                                    <label>Nivel</label>
                                    <div class="select2-input">
                                       <select class="form-control form-control" v-model="area.cat_nivel_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in catalogos.catNivel" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group" id="divTerrenoE">
                                    <label>Terreno exclusivo</label>
                                    <div class="input-group">
                                        <input type="number" step='0.01' class="form-control" v-model="area.terreno_exclusivo">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divTerrenoC">
                                    <label>Terreno común</label>
                                    <div class="input-group">
                                        <input type="number" step='0.01' class="form-control" v-model="area.terreno_comun">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" id="divConstruccionE">
                                    <label>Construcción exclusiva</label>
                                    <div class="input-group">
                                        <input type="number" step='0.01' class="form-control" v-model="area.construccion_exclusiva">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" id="divMedidaCE">
                                    <label>Unidad de medida</label>
                                    <div class="select2-input">
                                       <select class="form-control form-control" v-model="area.unidad_medida_ce_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in catalogos.catMedida" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group" id="divConstruccionC">
                                    <label>Construcción común</label>
                                    <div class="input-group">
                                        <input type="number" step="0.01" class="form-control" v-model="area.construccion_comun">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divUso">
                                    <label>Usos</label>
                                    <div class="select2-input">
                                       <select class="form-control form-control" v-model="area.cat_uso_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in catalogos.catUso" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divClase">
                                    <label>Clase</label>
                                    <div class="select2-input">
                                       <select class="form-control form-control" v-model="area.clase">
                                           <option value="null">Seleccionar</option>
                                            <option value="Urbano">Urbano</option>
                                            <option value="Rural">Rural</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" id="divParticipacion">
                                    <label>Cuota de participación</label>
                                    <div class="input-group">
                                        <input type="number" min="10" max="100" class="form-control" v-model="area.cuota_participacion">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Cuenta con colindancia </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="switch-container" >
                                            <input type="checkbox" id="switchColindancia" v-model="colindancia">
                                            <label for="switchColindancia" class="lblSwitch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <template v-if="colindancia">
                                <template v-for="(val, i) in colindancias">
                                    <div class="col-md-12" :key="'a'+i">
                                        <div class="card-header">
                                            <h4 class="card-title">Colindancia</h4>
                                        </div>
                                    </div>

                                    <div class="col-md-4" :key="'b'+i">
                                        <div class="form-group" :id="'divCol'+i" >
                                            <label>Colindancia</label>
                                            <div class="select2-input">
                                                <select class="form-control form-control" v-model="val.colindancia_id" :id="'colId'+i">
                                                    <option value="null">Seleccionar</option>
                                                    <option v-for="(item,index) in catalogos.areas" :key='index' v-text="item.codigo + ' - ' + item.comentarios" :value="item.id"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" :key="'c'+i">
                                        <div class="form-group" :id="'divTipo'+i" >
                                            <label>Tipo Colindancia</label>
                                            <div class="select2-input">
                                                <select class="form-control form-control" v-model="val.tipo_colindancia_id" :id="'tipoId'+i">
                                                    <option value="null">Seleccionar</option>
                                                    <option v-for="(item,index) in catalogos.catColindancia" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" :key="'d'+i">
                                        <div class="form-group" :id="'divLinea'+i">
                                            <label>Lineas</label>
                                            <div class="select2-input">
                                                <select class="form-control form-control" v-model="val.cat_linea_id" :id="'lineaId'+i">
                                                    <option value="null">Seleccionar</option>
                                                    <option v-for="(item,index) in catalogos.catLinea" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" :key="'e'+i">
                                        <div class="form-group" :id="'divOrientacion'+i">
                                            <label>Orientaciones</label>
                                            <div class="select2-input">
                                                <select class="form-control form-control" v-model="val.cat_orientacion_id" :id="'orientacionId'+i">
                                                    <option value="null">Seleccionar</option>
                                                    <option v-for="(item,index) in catalogos.catOrientacion" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2" :key="'f'+i">
                                        <div class="form-group" :id="'divDistancia'+i">
                                            <label>Distancia de colindancia</label>
                                            <div class="input-group">
                                                <input type="number" step='0.01' class="form-control" v-model="val.distancia_colindancia" :id="'distancia'+i">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2" :key="'g'+i">
                                        <div class="form-group" :id="'divUMD'+i">
                                            <label>Unidad de medida</label>
                                            <div class="select2-input">
                                                <select class="form-control form-control" v-model="val.um_distancia_id" :id="'medidaDis'+i">
                                                    <option value="null">Seleccionar</option>
                                                    <option v-for="(item,index) in catalogos.catMedida" :key='index' v-text="item.clave + ' - ' + item.descripcion" :value="item.id"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" :key="i">
                                        <br><br>
                                        <button class="btn btn-danger" @click="eliminaColindancia(i);" > Eliminar</button>
                                    </div>
                                </template>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <br><button class="btn btn-success" @click="agregaColindancia();" > Agregar</button>
                                    </div>
                                </div>
                            </template>

                            <div class="col-md-12">
                                <div class="form-group" id="divParticipacion">
                                    <label>Descripcion</label>
                                    <div class="input-group">
                                        <textarea disabled class="form-control" v-model="comentarios" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="card-action">
                                <button class="btn btn-success" @click="validaciones();" v-if="!gurdando">Guardar</button>
                                <button class="btn btn-success" v-else style="width: 100px; height: 44px;"><i class="fas fa-spinner fa-pulse fa-2x"></i></button>
                                <button class="btn btn-danger" @click="cancelar();" :disabled="gurdando"> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                accion      : 'add',
                gurdando    : false,
                base_url    : '/api/areas',
                catalogos   : [],
                tituloInmueble  : "",
                colindancia     : false,
                siTiene         : false,
                colindancias    : [
                    {
                        colindancia_id      : null, 
                        tipo_colindancia_id : null,
                        cat_linea_id        : null,
                        cat_orientacion_id  : null,
                        distancia_colindancia : "",
                        um_distancia_id       : null
                    }
                ],
                area:{
                    id              : null,
                    inmueble_id     : null,
                    cat_area_id     : null,
                    cat_tipo_id     : null,
                    cat_nivel_id    : null,
                    cat_uso_id      : null,
                    cat_linea_id    : null,
                    codigo          : "",
                    no              : "",
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    construccion_exclusiva  : "",
                    unidad_medida_ce_id     : null,
                    construccion_comun      : "",
                    clase                   : null,
                    cuota_participacion     : "",    
                    comentarios             : "",
                    colindancias            : [],
                },
                comentarios     : "",
                noAnterior      : "",
                codAnterior     : "",
                codigo          : true,
            }
        },
        watch: {
            area: {
                deep:true,
                handler:function(area) {
                    this.descripcion();
                    if(area.no.length > 2)
                        this.getCodigo();
                }
            },
        },
        methods: {
            async getCatalogos(){
                const res = await axios.get( this.base_url + '/catalogos/' + this.area.inmueble_id);
                this.catalogos = res.data;
            },
            async getCodigo(){
                if(this.codigo){
                    if(this.area.no != this.noAnterior){
                        if(this.area.no == "")
                            this.area.codigo = "";
                        
                        this.area.no = this.area.no.toUpperCase();
                        if(this.area.codigo != "AC"){
                            let res = await axios.post(this.base_url + '/getCodigo', this.area);
                            this.area.codigo = res.data.toUpperCase();
                        }
                    }
                    else
                        this.area.codigo = this.codAnterior;
                    

                    this.catalogos.catArea.forEach(area => {
                        if(area.nombre == "Común"){
                            if(this.area.cat_area_id == area.id){
                                this.area.codigo = "AC";
                            }
                        }
                    });
                }
            },
            descripcion(){
                let descripcion = "";
                if(this.catalogos.catArea !== undefined){
                    this.catalogos.catArea.forEach(element => {
                        if(element.id == this.area.cat_area_id){
                            if(element.nombre == "Común"){
                                this.comentarios = "Área Común";
                            }
                            else{
                                this.catalogos.catUso.forEach(uso => {
                                    if(this.area.cat_uso_id == uso.id){
                                        if(uso.nombre == "Casa Habitación")
                                            descripcion = "Superficie Techada";
                                        else
                                            descripcion = uso.nombre;
                                    }
                                });
                                this.catalogos.catTipo.forEach(tipo => {
                                    if(this.area.cat_tipo_id == tipo.id)
                                        descripcion = descripcion + " " + tipo.nombre;
                                });

                                this.comentarios = descripcion + " " + this.area.no;
                            }
                        }
                    });
                }
            },
            validaciones(){
                let response = true;
                var codigo  = document.getElementById("divCodigo");
                var area    = document.getElementById("divArea");
                var tipo    = document.getElementById("divTipo");
                var numero  = document.getElementById("divNumero");
                var nivel   = document.getElementById("divNivel");
               
                if(this.area.construccion_exclusiva != ""){
                    let unidad = document.getElementById("divMedidaCE");
                    if(this.area.unidad_medida_ce_id == null || this.area.unidad_medida_ce_id == "null"){
                        response = false;                    
                        unidad.className += " has-error";
                    }
                    else
                        unidad.classList.remove('has-error'); 
                }

                if(this.area.codigo == ""){
                    response = false;                    
                    codigo.className += " has-error";
                }
                else
                   codigo.classList.remove('has-error'); 

                if(this.area.cat_area_id == null || this.area.cat_area_id == 'null'){
                    response = false;
                    area.className += " has-error";
                }
                else
                    area.classList.remove('has-error');

                if(this.area.cat_tipo_id == null || this.area.cat_tipo_id == 'null'){
                    response = false;
                    tipo.className += " has-error";
                }
                else
                    tipo.classList.remove('has-error');

                if(this.area.no == ""){
                    response = false;
                    numero.className += " has-error";
                }
                else
                    numero.classList.remove('has-error');

                if(this.area.cat_nivel_id == null || this.area.cat_nivel_id == 'null' ){
                    response = false;
                    nivel.className += " has-error";
                }
                else
                    nivel.classList.remove('has-error');

                /* Valida si tiene colindancia y si es correcta */
                if(this.colindancia){
                    for (let i = 0; i < this.colindancias.length; i++) {
                        var divCol          = document.getElementById("divCol" + i);
                        var divTipo         = document.getElementById("divTipo" + i);
                        var divLinea        = document.getElementById("divLinea" + i);
                        var divOrientacion  = document.getElementById("divOrientacion" + i);
                        var divDistancia    = document.getElementById("divDistancia" + i);
                        var divUMD          = document.getElementById("divUMD" + i);

                        if(this.colindancias[i].colindancia_id == null || this.colindancias[i].colindancia_id == "null"){
                            response = false;                    
                            divCol.className += " has-error";
                        }
                        else
                            divCol.classList.remove('has-error');
                        
                        if(this.colindancias[i].tipo_colindancia_id == null || this.colindancias[i].tipo_colindancia_id == "null"){
                            response = false;                    
                            divTipo.className += " has-error";
                        }
                        else
                            divTipo.classList.remove('has-error');

                        if(this.colindancias[i].cat_linea_id == null || this.colindancias[i].cat_linea_id == "null"){
                            response = false;                    
                            divLinea.className += " has-error";
                        }
                        else
                            divLinea.classList.remove('has-error');

                        if(this.colindancias[i].cat_orientacion_id == null || this.colindancias[i].cat_orientacion_id == "null"){
                            response = false;                    
                            divOrientacion.className += " has-error";
                        }
                        else
                            divOrientacion.classList.remove('has-error');

                        if(this.colindancias[i].distancia_colindancia == ""){
                            response = false;                    
                            divDistancia.className += " has-error";
                        }
                        else
                            divDistancia.classList.remove('has-error');
                        
                        if(this.colindancias[i].um_distancia_id  == null || this.colindancias[i].um_distancia_id == "null"){
                            response = false;                    
                            divUMD.className += " has-error";
                        }
                        else
                            divUMD.classList.remove('has-error');
                    }
                    
                    this.area.colindancias = this.colindancias;
                }
                else
                    this.area.colindancias = [];

                if(response)
                    this.guardar();
                else{
                    swal("Error!", 'Favor de llenar los campos requeridos', {
                        icon : "error",
                        buttons: { confirm: { className : 'btn btn-danger'}},
                    });
                    return;
                }
                      
            },
            async guardar(){
                let res = null;
                try {
                    this.gurdando = true;
                    this.area.comentarios = this.comentarios;

                    if(this.accion == 'update')
                        await axios.put(this.base_url, this.area);
                    else
                        await axios.post(this.base_url, this.area);
                    this.respuestaOk("Cambios realizados exitosamente.");
                } catch (error) {
                    this.respuestaError(error);
                }  
            },
            async getArea(){
                this.codigo  = false;
                let area_id = document.getElementById('idArea').value;
                const res = await axios.get( this.base_url + "/" + area_id);
                this.area.id              = res.data[0].id;
                this.area.inmueble_id     = res.data[0].inmueble_id;
                this.area.cat_area_id     = res.data[0].cat_area_id;
                this.area.cat_tipo_id     = res.data[0].cat_tipo_id;
                this.area.cat_nivel_id    = res.data[0].cat_nivel_id;
                this.area.cat_uso_id      = res.data[0].cat_uso_id;
                this.area.cat_linea_id    = res.data[0].cat_linea_id;
                this.area.codigo          = res.data[0].codigo;
                this.area.no              = res.data[0].no;
                this.area.terreno_exclusivo         = res.data[0].terreno_exclusivo;
                this.area.terreno_comun             = res.data[0].terreno_comun;
                this.area.construccion_exclusiva    = res.data[0].construccion_exclusiva;
                this.area.unidad_medida_ce_id       = res.data[0].unidad_medida_ce_id;
                this.area.construccion_comun        = res.data[0].construccion_comun;
                this.area.clase                     = res.data[0].clase;
                this.area.cuota_participacion       = res.data[0].cuota_participacion;   
                this.area.comentarios               = res.data[0].comentarios;
                this.noAnterior                     = res.data[0].no;
                this.codAnterior                    = res.data[0].codigo;
                let colindancia                     = res.data[0].colindancias;
               
                if(colindancia.length > 0 ){
                    this.colindancia    = true;
                    this.colindancias   = colindancia;
                }
                setTimeout(() => {
                    this.codigo= true;
                }, 2000);
            },
            cancelar(){
                document.getElementById('salirArea').click();
            },
            agregaColindancia(){

                if(!this.validaColindancias())
                    return;
                else{
                    let colindancias = [
                        {
                            colindancia_id      : null, 
                            tipo_colindancia_id : null,
                            cat_linea_id        : null,
                            cat_orientacion_id  : null,
                            distancia_colindancia : "",
                            um_distancia_id       : null
                        }
                    ];

                    this.colindancias = this.colindancias.concat(colindancias);
                }   
            },  
            eliminaColindancia(id){
                this.colindancias.splice(id, 1);
            },
            validaColindancias(){ 
                let size            = this.colindancias.length -1;
                let response        = true;
                var divCol          = document.getElementById("divCol" + size);
                var divTipo         = document.getElementById("divTipo" + size);
                var divLinea        = document.getElementById("divLinea" + size);
                var divOrientacion  = document.getElementById("divOrientacion" + size);
                var divDistancia    = document.getElementById("divDistancia" + size);
                var divUMD          = document.getElementById("divUMD" + size);


                if(this.colindancias[size].colindancia_id == null || this.colindancias[size].colindancia_id == "null"){
                    response = false;                    
                    divCol.className += " has-error";
                }
                else
                   divCol.classList.remove('has-error');
                
                if(this.colindancias[size].tipo_colindancia_id == null || this.colindancias[size].tipo_colindancia_id == "null"){
                    response = false;                    
                    divTipo.className += " has-error";
                }
                else
                   divTipo.classList.remove('has-error');

                if(this.colindancias[size].cat_linea_id == null || this.colindancias[size].cat_linea_id == "null"){
                    response = false;                    
                    divLinea.className += " has-error";
                }
                else
                   divLinea.classList.remove('has-error');

                if(this.colindancias[size].cat_orientacion_id == null || this.colindancias[size].cat_orientacion_id == "null"){
                    response = false;                    
                    divOrientacion.className += " has-error";
                }
                else
                   divOrientacion.classList.remove('has-error');

                if(this.colindancias[size].distancia_colindancia == ""){
                    response = false;                    
                    divDistancia.className += " has-error";
                }
                else
                   divDistancia.classList.remove('has-error');
                
                if(this.colindancias[size].um_distancia_id  == null || this.colindancias[size].um_distancia_id == "null"){
                    response = false;                    
                    divUMD.className += " has-error";
                }
                else
                   divUMD.classList.remove('has-error');


                return response;
            },
            respuestaOk(mensaje= ''){
                setTimeout(() => {
                    swal({
                        title: 'Operacion exitosa',
                        text: mensaje,
                        icon: 'success',
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2200
                    });
                }, 250);
                this.gurdando = false;
                setTimeout(() => {
                    document.getElementById('salirArea').click();
                }, 2500);
            },
            respuestaError(error){
                console.log(error);
                let mensaje = "Se presento un erro favor de intentar de nuevo";
         
                if(typeof(error.response.data.error) === 'string'){
                    mensaje = error.response.data.error;
                }
                else{
                    let errores = Object.values(error.response.data.error);
                    mensaje = ``;

                    for (var i = 0; i < errores.length; i++) {
                        mensaje+= `* ` + errores[i] + `\n`;
                    }
                }

                swal("Error!", mensaje, {
                    icon : "error",
                    buttons: { confirm: { className : 'btn btn-danger'}},
                });
                this.gurdando = false;
            }
        },
        created() {
            let inmueble_id          = document.getElementById('idInmueble').value;
            this.tituloInmueble      = document.getElementById('tituloInmueble').value;
            this.accion              = document.getElementById('idAccion').value;
            this.area.inmueble_id    = inmueble_id;
            this.getCatalogos();

            if(this.accion == 'update')
                this.getArea();
        }
    }
</script>

<style scoped>
    body[data-background-color="dark"] .main-panel label {
        color: #fff !important;
    }

    .lblSwitch{
        display:inline-block;
        width: 100px;
        height: 33px;
        background: #979797;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: .2s;
    }
    .lblSwitch::after{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: #eee;
        border-radius: 100px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: .2s;
    }
    
    #switchColindancia:checked + .lblSwitch::after{
        left: 71px;
    }

    #switchColindancia:checked + .lblSwitch{
        background: #09B836;
    }
    #switchColindancia{
        display: none;
    }
</style>