<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4 class="page-title" v-text="tituloInmueble"></h4>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-round btnAgregar float-right" @click="redireccionar(0,'add')">Agregar</button>
            </div>
        </div>

        <hr />         
        <div style="margin-top: 10px">
            <div v-if="loading">
                <div class="center-block">
                    <div  class="d-flex justify-content-center" style="background: #1a2035;">
                        <div class="spinner-border text-secondary" role="status">
                            <i class="fas fa-spinner fa-pulse fa-4x" id="cargando"></i>
                        </div>
                    </div>

                </div>
            </div>
           
            <template v-else>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="modal fade bd-example-modal-lg" id="modalColindancia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" v-text="tituloModal"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <template>
                                                <div class="form-row">
                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Código: </small>
                                        <div class="input-group px_150 margenes" id="formCodigo">
                                            <input type="text" class="form-control" v-model="area.codigo" placeholder="Código">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4" style="padding: 0px !important">
                                        <small class="label">Tipo unidad: </small>
                                        <div id="formTipoUnidad">
                                            <select class="form-control px_350 margenes" v-model="area.cat_tipo_id">
                                                <option value="null">Seleccionar</option>
                                                <option v-for="(item,index) in catalogos.catTipo" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                            </select>
                                        </div>   
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Número: </small>
                                        <div class="input-group px_150 margenes" id="formNumero">
                                            <input type="text" class="form-control" v-model="area.no" placeholder="Número">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Unidad de medida: </small>
                                        <div id="formMedidaCE">
                                            <select class="form-control px_150 margenes" v-model="area.unidad_medida_ce_id">
                                                <option value="null">Seleccionar</option>
                                                <option v-for="(item,index) in catalogos.catMedida" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                               

                                                <!-- 

                                                <div class="col-md-4" :key="'c'+i">
                                                    <div class="form-group" :id="'divTipo'+i" >
                                                        <label>Tipo Colindancia</label>
                                                        <div class="select2-input">
                                                            <select class="form-control form-control" v-model="val.tipo_colindancia_id" :id="'tipoId'+i">
                                                                <option value="null">Seleccionar</option>
                                                                <option v-for="(item,index) in catalogos.catColindancia" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" :key="'d'+i">
                                                    <div class="form-group" :id="'divLinea'+i">
                                                        <label>Lineas</label>
                                                        <div class="select2-input">
                                                            <select class="form-control form-control" v-model="val.cat_linea_id" :id="'lineaId'+i">
                                                                <option value="null">Seleccionar</option>
                                                                <option v-for="(item,index) in catalogos.catLinea" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" :key="'e'+i">
                                                    <div class="form-group" :id="'divOrientacion'+i">
                                                        <label>Orientaciones</label>
                                                        <div class="select2-input">
                                                            <select class="form-control form-control" v-model="val.cat_orientacion_id" :id="'orientacionId'+i">
                                                                <option value="null">Seleccionar</option>
                                                                <option v-for="(item,index) in catalogos.catOrientacion" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" :key="'f'+i">
                                                    <div class="form-group" :id="'divDistancia'+i">
                                                        <label>Distancia de colindancia</label>
                                                        <div class="input-group">
                                                            <input type="number" step='0.01' class="form-control" v-model="val.distancia_colindancia" :id="'distancia'+i">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" :key="'g'+i">
                                                    <div class="form-group" :id="'divUMD'+i">
                                                        <label>Unidad de medida</label>
                                                        <div class="select2-input">
                                                            <select class="form-control form-control" v-model="val.um_distancia_id" :id="'medidaDis'+i">
                                                                <option value="null">Seleccionar</option>
                                                                <option v-for="(item,index) in catalogos.catMedida" :key='index' v-text="item.clave + ' - ' + item.descripcion" :value="item.id"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" :key="i">
                                                    <div class="row">
                                                        <br><br>
                                                        <div class="col-md-12">
                                                            <div class="btnColindancia">
                                                                <button class="btn btn-success btnAgregar" @click="agregaColindancia();" > Agregar</button>
                                                                <button class="btn btn-danger" @click="eliminaColindancia(i);" > Eliminar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </template>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btnColindancias" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" @click="guardaColindancias();" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div class="modal fade bd-example-modal-lg" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" v-text="tituloModal"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="txtArea" class="labelTitulo">Código: </label>
                                                    <label for="txtArea" class="labelRespuesta">{{ area.codigo}} </label>
                                                </div>

                                                <div class="form-group">
                                                    <label for="txtArea" class="labelTitulo">Tipo: </label>
                                                    <label for="txtArea" class="labelRespuesta">{{ area.nom_tipo}} </label>
                                                </div>

                                                <div class="form-group">
                                                    <label for="txtArea" class="labelTitulo">Número: </label>
                                                    <label for="txtArea" class="labelRespuesta">{{ area.no}} </label>
                                                </div>

                                                <template v-if="area.tipo == 'particular'">
                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Uso: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.nom_uso}} </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">No de Uso: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.no_uso}} </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Nivel: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.nom_nivel}} </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Clasificación: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.clasificacion }} </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Clasificación dos: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.clasificacion_dos == null ? "" : area.nombre_clasificacion }} </label>
                                                    </div>
                                                    
                                                </template>

                                                <div class="form-group">
                                                    <label for="txtArea" class="labelTitulo">Terreno exclusivo: </label>
                                                    <label for="txtArea" class="labelRespuesta">{{ area.terreno_exclusivo}} </label>
                                                </div>

                                                <template v-if="area.tipo == 'particular'">
                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Terreno comun: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.terreno_comun}} </label>
                                                    </div>
                                                </template>

                                                <div class="form-group">
                                                    <label for="txtArea" class="labelTitulo">Construcción exclusiva: </label>
                                                    <label for="txtArea" class="labelRespuesta">{{ area.construccion_exclusiva  }} </label>
                                                </div>

                                                <template v-if="area.tipo == 'general'">
                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Construcción comun: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.construccion_comun }} </label>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtArea" class="labelTitulo">Cuota participación: </label>
                                                        <label for="txtArea" class="labelRespuesta">{{ area.cuota_participacion}} </label>
                                                    </div>
                                                </template>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btnCerrar" @click="limpiaCampos()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th @click="ordenar('codigo')" id="codigo" scope="col">Código</th>
                                                <th @click="ordenar('tipo')" id="tipo" scope="col">Tipo unidad</th>
                                                <th @click="ordenar('tipo')" id="tipo" scope="col">Uso</th>
                                                <th @click="ordenar('tipo')" id="tipo" scope="col">Construcción exclusiva</th>
                                                <th style="width:25%">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="area in areas.data" :key="area.id">
                                                <td v-text="area.codigo"></td>
                                                <td v-text="area.nom_tipo"></td>
                                                <td v-text="area.nom_uso"></td>
                                                <td>{{ area.construccion_exclusiva == null ? "" : area.construccion_exclusiva + " " + area.nombre_umce }}</td>
                                                <td>
                                                    <span>
                                                        <button type="button" @click="abreModal(area)" title="Ver" class="btn btn-link"  data-toggle="modal" data-target="#modalFormulario"><i class="fa fa-eye" style="color: #fff"></i></button>
                                                    </span>
                                                    <!-- <span>
                                                        <button type="button" @click="redireccionar(area.id, 'add')" title="Particulares" class="btn btn-link" ><i class="fa fa-database" style="color: #fff"></i></button>
                                                    </span> -->
                                                    <span>
                                                        <button type="button" @click="colindancias(area)" title="Colindancias" class="btn btn-link"  data-toggle="modal" data-target="#modalColindancia" ><i class="fa fa-bars" style="color: #fff"></i></button>
                                                        <!-- <button type="button" @click="redireccionar(area.id, 'colindancia')" title="Colindancias" class="btn btn-link" ><i class="fa fa-bars" style="color: #fff"></i></button> -->
                                                    </span>
                                                    <span>
                                                        <button type="button" @click="redireccionar(area.id,'update')" title="Editar" class="btn btn-link"><i class="fa fa-edit" style="color: #fff"></i></button>
                                                    </span>
                                                    <span>
                                                        <button type="button" @click="eliminar(area,'delete')" title="Eliminar" class="btn btn-link"><i class="far fa-trash-alt" style="color: #fff"></i></button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row paginacion" id="paginacion">
                                    <div class="col-md-12 float-right">
                                        <nav aria-label="Page navigation example" style="float:right;">
                                            <div class="pagination" >
                                                <div class="input-group mb-3">
                                                    <div class="dataTables_info"> Mostrar: </div>
                                                    <div style="width: 70px;">
                                                        <select class="custom-select" v-model="show">
                                                            <option value="10" selected>10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                    <div class="dataTables_info"> <span v-text="from" ></span> - <span v-text="to" ></span> de <span v-text="total" ></span> </div>
                                                    <div class="pagination" id="">
                                                        <li class="page-item">
                                                            <span  v-if="filtros.page == 1" tabindex="0" class="page-link" >Anterior</span>
                                                            <span  v-else @click="cambiaPagina('anterior')" tabindex="0" class="page-link" >Anterior</span>
                                                        </li>
                                                        
                                                        <li :class="pag.activo" v-for="(pag, i) in paginas" :key="i">
                                                            <span @click="cambiaPagina(pag.pagina)" tabindex="0" class="page-link" >{{ pag.pagina }}</span>
                                                        </li>
                                                        
                                                        <li class="page-item">
                                                            <span  v-if="areas.last_page == filtros.page" class="page-link">Siguiente</span>
                                                            <span  v-else class="page-link" @click="cambiaPagina('siguiente')">Siguiente</span>
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-5">
                        <div class="card descripcion">
                            <div class="card-body" style="background-color:white;color:black">
                                <h1 class="tituloDescripcion" v-text="tituloInmueble"></h1>
                                <p v-if="area.codigo != ''">
                                    {{descripcion}}
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </template>
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                catalogos   : [],
                descripcion : "",
                desCod      : 0,
                loading     : true,
                clientes    : [],
                areas       : [],
                rol         : 'usuario',
                base_url    : '/api/areas',
                tipoArea    : "general",
                btnTexto    : "Agregar",
                tituloModal     : "",
                tituloInmueble  : "",
                principal_value : null,
                filtros:{
                    inmueble_id  : null,
                    tipo        : "general",
                    order       : "desc",
                    order_by    : "id",
                    page        : 1,
                    show        : 10,
                },
                area:{
                    id              : null,
                    codigo          : "",
                    tipo            :'general',
                    no              : "",
                    no_uso          : "",
                    inmueble_id     : null,
                    cat_area_id     : null,
                    cat_tipo_id     : null,
                    cat_nivel_id    : null,
                    cat_uso_id      : null,
                    cat_linea_id    : null,
                    cat_clasificacion_id    : null,
                    cat_clasificacion_dos_id: null,
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    construccion_exclusiva  : "",
                    unidad_medida_ce_id     : null,
                    construccion_comun      : "",
                    clase                   : null,
                    cuota_participacion     : "",
                    comentarios             : "",
                    colindancias            : [],
                },
                inmueble: null,
                cod_ant : null,
                paginas : [],
                show    : 10,
                to      : 0,
                from    : 0,
                total   : 0,
            }
        },
        watch:{
            show: function(val) {
                this.filtros.show = val;
                this.filtros.page = 1;
                this.listar();
            },
            tipoArea: function(val) {
                if(val == 'general'){
                    this.desCod = 0;
                    this.area.codigo = "";
                    this.area.no = "";
                }
                else{
                    this.desCod = 1;
                    this.principal_value = null;
                    this.getAreas();
                }
                
            },
            principal_value: function(val) {
                if(val != null)
                    this.getCodigo(val);
            }
        },
        methods: {
            async listar(accion = ''){
                if(accion != '')
                    document.getElementById("btnCerrarBusqueda").click();

                try{
                    const res       = await axios.get(this.base_url +'/find', { params: this.filtros });
                    const inm       = await axios.get('/api/inmuebles/' + this.filtros.inmueble_id);
                    this.inmueble   = inm.data[0];
                    this.areas      = res.data;
                    this.to         = res.data.to == null ? 0 : res.data.to;
                    this.from       = res.data.from == null ? 0 : res.data.from;
                    this.total      = res.data.total;
                    this.paginas    = [];
                    
                    for (let i = 1; i <= res.data.last_page; i++) {
                        let activo = 'page-item';

                        if(i == res.data.current_page)
                            activo = 'page-item active';
                        
                        if(res.data.last_page > 4){
                            if(res.data.current_page <= 3){
                                if(i <= 5)
                                    this.paginas.push({ pagina: i, activo: activo });                           
                                else if( i == 6)
                                    this.paginas.push({ pagina: '...', activo: activo });
                                else if(i == res.data.last_page)
                                    this.paginas.push({ pagina: i, activo: activo });
                            }
                            else{
                                if( i == ( res.data.current_page -2)){                                    
                                    this.paginas.push({ pagina: 1, activo: activo});
                                    this.paginas.push({ pagina: '...', activo: activo });
                                }
                                if( i == (res.data.current_page - 1) || i == res.data.current_page || i == (res.data.current_page +1) )
                                    this.paginas.push({ pagina: i, activo: activo });
                                
                                if( i == ( res.data.current_page  + 2)){
                                    this.paginas.push({ pagina: '...', activo: activo});
                                    this.paginas.push({ pagina: res.data.last_page, activo: activo });
                                }
                            }
                        }
                        else{
                            this.paginas.push({ pagina: i, activo: activo }); 
                        }
                    }
                    this.loading = false;
                }
                catch(error){
                    this.respuestaError(error);
                }
            },
            async getCatalogos(){
                const res = await axios.get( this.base_url + '/catalogos/' + this.area.inmueble_id);
                this.catalogos = res.data;
            },
            async getCodigo(id){
                let params  = null;

                this.catalogos.tipos.forEach(element => {
                    if(element.id == id)
                        params = element;
                });
                let res             = await axios.post(this.base_url + '/getCodigo', params);
                this.area.codigo    = res.data.codigo.toUpperCase();
                this.area.no        = res.data.numero;
            },
            async getAreas(){
                const res = await axios.get( this.base_url + '/catalogos/' + this.area.inmueble_id);
                this.catalogos.tipos = res.data.tipos;
            },
            async guardar(){
                try {
                    /* this.gurdando = true;
                    this.area.comentarios = this.comentarios; */
                    this.area.tipo = this.desCod == 1 ? 'particular' : 'general';
                    this.area.no = this.area.no.toUpperCase();

                    if(this.area.id == null)
                        await axios.post(this.base_url, this.area);
                    else
                        await axios.put(this.base_url, this.area);

                    this.respuestaOk("Operacion exitosa.");
                } catch (error) {
                    this.respuestaError(error);
                }
            },
            async validaciones(){
                let response = true;
                var codigo  = document.getElementById("divCodigo")
                var tipo    = document.getElementById("divTipoUnidad");
                var numero  = document.getElementById("divNumero");
                var uso     = document.getElementById("divUso");
                var NumUso  = document.getElementById("divNumUso");
                var nivel   = document.getElementById("divUbicacion");
                var clasi   = document.getElementById("divClasificacion");
                var claDos  = document.getElementById("divClasificacionDos");
                var tExcu   = document.getElementById("divTExclusivo");
                var tComun  = document.getElementById("divTComun");
                var cComun  = document.getElementById("divCComun");
                var cExclu  = document.getElementById("divCExclusiva");
                var unidad  = document.getElementById("divMedidaCE");
                var parti   = document.getElementById("divParticipacion");
                
                if(this.area.codigo == ""){
                    response = false;                    
                    codigo.className += " has-error";
                }
                else
                   codigo.classList.remove('has-error'); 

                if(this.area.no == ""){
                    response = false;
                    numero.className += " has-error";
                }
                else
                    numero.classList.remove('has-error');
                
                if(this.area.cat_tipo_id == null || this.area.cat_tipo_id == "null"){
                    response = false;                    
                    tipo.className += " has-error";
                }
                else
                    tipo.classList.remove('has-error');

                if(this.area.construccion_exclusiva != "" && this.area.construccion_exclusiva != null){
                    if(this.area.unidad_medida_ce_id == null || this.area.unidad_medida_ce_id == "null"){
                        response = false;                    
                        unidad.className += " has-error";
                    }
                    else
                        unidad.classList.remove('has-error'); 
                }
                
                if(this.desCod == 0){
                    if(this.area.terreno_exclusivo == ""){
                        response = false;
                        tExcu.className += " has-error";
                    }
                    else
                        tExcu.classList.remove('has-error');

                    if(this.area.terreno_comun == ""){
                        response = false;
                        tComun.className += " has-error";
                    }
                    else
                        tComun.classList.remove('has-error');

                    if(this.area.construccion_comun == ""){
                        response = false;
                        cComun.className += " has-error";
                    }
                    else
                        cComun.classList.remove('has-error');

                    if(this.area.cuota_participacion == ""){
                        response = false;
                        parti.className += " has-error";
                    }
                    else
                        parti.classList.remove('has-error');
                    
                    if(this.area.construccion_exclusiva == ""){
                        response = false;
                        cExclu.className += " has-error";
                    }
                    else
                        cExclu.classList.remove('has-error');

                    if(this.area.unidad_medida_ce_id == null || this.area.unidad_medida_ce_id == "null"){
                        response = false;                    
                        unidad.className += " has-error";
                    }
                    else
                        unidad.classList.remove('has-error');
                }
                else{
                    if(this.area.cat_nivel_id == null || this.area.cat_nivel_id == "null"){
                        response = false;                    
                        nivel.className += " has-error";
                    }
                    else
                        nivel.classList.remove('has-error');
                    
                    if(this.area.cat_tipo_id == null || this.area.cat_tipo_id == "null"){
                        response = false;                    
                        tipo.className += " has-error";
                    }
                    else
                        tipo.classList.remove('has-error');

                    if(this.area.cat_uso_id == null || this.area.cat_uso_id == "null"){
                        response = false;                    
                        uso.className += " has-error";
                    }
                    else
                        uso.classList.remove('has-error');

                    if(this.area.cat_clasificacion_id == null || this.area.cat_clasificacion_id == "null"){
                        response = false;                    
                        clasi.className += " has-error";
                    }
                    else
                        clasi.classList.remove('has-error');

                    /* if(this.area.cat_clasificacion_dos_id == null || this.area.cat_clasificacion_dos_id == "null"){
                        response = false;                    
                        claDos.className += " has-error";
                    }
                    else
                        claDos.classList.remove('has-error'); */
                }

                if(response){
                    let params = { "inmueble_id": this.filtros.inmueble_id, "codigo": this.area.codigo };
                    const res = await axios.get(this.base_url +'/validacion', { params: params});
                    if(res.data.existe != null){
                        if(this.area.id == null){
                            swal("Error!", 'El codigo ya se encuentra en uso, favor de cambiarlo.', {
                                icon : "error",
                                buttons: { confirm: { className : 'btn btn-danger'}},
                            });

                            return;
                        }
                        else{
                            if(this.cod_ant != res.data.existe.codigo){
                                swal("Error!", 'El codigo ya se encuentra en uso, favor de cambiarlo.', {
                                    icon : "error",
                                    buttons: { confirm: { className : 'btn btn-danger'}},
                                });

                                return;
                            }
                            
                            this.validaTamano(res);
                        }
                    }
                    else{
                        this.validaTamano(res);
                    }
                }
                else{
                    swal("Error!", 'Favor de llenar los campos requeridos', {
                        icon : "error",
                        buttons: { confirm: { className : 'btn btn-danger'}},
                    });
                    return;
                }
            },
            validaTamano(res){
                let error = "";
                if(parseFloat(this.inmueble.terreno_comun )< (res.data.totales.terreno_comun + parseFloat(this.area.terreno_comun)))
                    error = error + " terreno comun,";
                if(parseFloat(this.inmueble.terreno_exclusivo) < (res.data.totales.terreno_exclusivo + parseFloat(this.area.terreno_exclusivo)))
                    error = error + " terreno exclusivo,";  
                if(parseFloat(this.inmueble.constuccion_comun) < (res.data.totales.construccion_comun + parseFloat(this.area.construccion_comun)))
                    error = error + " construccion comun,";  
                if(parseFloat(this.inmueble.constuccion_exclusiva) < (res.data.totales.construccion_exclusiva + parseFloat(this.area.construccion_exclusiva)))
                    error = error + " construccion exclusiva,";   

                if(error !== ""){
                    var strnew = error.substr(0, error.length - 1);
                    swal({
                        title: "¿Continuar?",
                        text: "Se ha superado las medidas de " + strnew + ".",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.guardar();
                        }
                    });
                }
                else{
                    this.guardar();
                }
            },
            abreModal(item = null){
                this.tituloModal = "Detalles del área";
                this.limpiaCampos();
                  
                if(item != null){
                    this.cod_ant            = item.codigo;
                    this.area.tipo          = item.tipo;
                    this.area.codigo        = item.codigo;
                    this.area.no            = item.no;
                    this.area.no_uso        = item.no_uso;
                    this.area.inmueble_id   = item.inmueble_id;
                    this.area.terreno_comun = item.terreno_comun;
                    this.area.clase         = item.clase;
                    this.area.nom_area      = item.nom_area;
                    this.area.nom_tipo      = item.nom_tipo;
                    this.area.nom_nivel     = item.nom_nivel;
                    this.area.nom_uso       = item.nom_uso;
                    this.area.cli_nombre    = item.cli_nombre;
                    this.area.cli_apellido  = item.cli_apellido;
                    this.area.construccion_exclusiva= item.construccion_exclusiva == null ? "" : item.construccion_exclusiva + " " + item.nombre_umce;
                    this.area.construccion_comun    = item.construccion_comun;
                    this.area.terreno_exclusivo     = item.terreno_exclusivo;
                    this.area.cuota_participacion   = item.cuota_participacion == null ? "" : item.cuota_participacion + "%";
                    this.area.comentarios           = item.comentarios;
                    this.area.clasificacion         = item.nombre_clasificacion;
                    this.area.clasificacion_dos     = item.nombre_clasificacion_dos;
                }
            },
            editar(area){
                this.btnTexto =  "Guardar";

                if(area.tipo == "general"){
                    this.desCod     = 0;
                    this.tipoArea   = 'general';
                }
                else{
                    this.desCod     = 1;
                    this.tipoArea   = 'particular';

                    setTimeout(() => {
                        this.catalogos.tipos.forEach(element => {
                            if(element.no == area.no && element.tipo == 'general')
                                this.principal_value = element.id;
                        });
                    }, 250);
                }
                
                this.cod_ant                = area.codigo;
                this.area.id                = area.id;
                this.area.no_uso            = area.no_uso;
                this.area.inmueble_id       = area.inmueble_id;
                this.area.cat_area_id       = area.cat_area_id;
                this.area.cat_tipo_id       = area.cat_tipo_id;
                this.area.cat_nivel_id      = area.cat_nivel_id;
                this.area.cat_uso_id        = area.cat_uso_id;
                this.area.cat_linea_id      = area.cat_linea_id;
                this.area.clase             = area.clase;
                this.area.terreno_comun     = area.terreno_comun;
                this.area.cat_clasificacion_id      = area.cat_clasificacion_id;
                this.area.cat_clasificacion_dos_id  = area.cat_clasificacion_dos_id;
                this.area.terreno_exclusivo         = area.terreno_exclusivo;
                this.area.construccion_exclusiva    = area.construccion_exclusiva;
                this.area.unidad_medida_ce_id       = area.unidad_medida_ce_id;
                this.area.construccion_comun        = area.construccion_comun;
                this.area.cuota_participacion       = area.cuota_participacion;
                
                
                setTimeout(() => {
                    this.area.no        = area.no;
                    this.area.codigo    = area.codigo;
                }, 200);
            },
            limpiaCampos(){
                let show    = this.filtros.show;
                let inmueble_id = this.filtros.inmueble_id;
                
                this.area   = {
                    id              : null,
                    codigo          : "",
                    tipo            :'general',
                    no              : "",
                    no_uso          : "",
                    inmueble_id     : inmueble_id,
                    cat_area_id     : null,
                    cat_tipo_id     : null,
                    cat_nivel_id    : null,
                    cat_uso_id      : null,
                    cat_linea_id    : null,
                    cat_clasificacion_id    : null,
                    cat_clasificacion_dos_id: null,
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    construccion_exclusiva  : "",
                    unidad_medida_ce_id     : null,
                    construccion_comun      : "",
                    clase                   : null,
                    cuota_participacion     : "",    
                    comentarios             : "",
                    colindancias            : [],
                },

                this.filtros = {
                    inmueble_id : inmueble_id,
                    tipo        : "general",
                    order       : "desc",
                    order_by    : "id",
                    page        : 1,
                    show        : show,
                }
                this.desCod     = 0;
                this.tipoArea   = 'general';
                this.btnTexto   = "Agregar";
                this.cod_ant    = null;

                const items = document.querySelectorAll('.has-error');
                for (let i = 0; i < items.length; i++) {
                    items[i].className = '';
                }
            },
            eliminar(item){
                swal({
                    title: 'Alerta',
                    text: "¿Estas seguro que deseas eliminar el área?",
                    type: 'warning',
                    icon: 'warning',
                    buttons:{
                        confirm: { text : 'Aceptar', className : 'btn btn-aceptar' },
                        cancel: { visible: true, text: "Cancelar", className: 'btn btn-cancelar' }
                    }
					})
                .then((Delete) => {
                    if (Delete){
                        let mensaje = "Se ha eliminado correctamente";
                        let params  = { id: item.id };

                        axios.post(this.base_url + '/delete', params)
                        .then(response => {
                            this.respuestaOk(mensaje);
                        })
                        .catch(error => {
                            this.respuestaError(error);
                        });
                    }
                    else
                        swal.close();
                });
            },
            async getClientes(){
                const res       = await axios.get('/api/clientes/find', { params: { activo: true } });
                this.clientes   = res.data.data;
            },
            colindancias(item){
                this.tituloModal = "Cotas";
                console.log(item);
            },
            guardaColindancias(){

            },
            cambiaPagina(pag){
                if(pag == '...')
                    return;
                    
                if(pag == 'anterior')
                    this.filtros.page = this.filtros.page  - 1;
                else if(pag == 'siguiente')
                    this.filtros.page = this.filtros.page  + 1;
                else
                    this.filtros.page = pag;

                this.listar();
            },
            ordenar(column){
                let row     =  document.getElementsByClassName("sorting");
                let order   = 'asc';

                if(row.length > 0){
                    order = row[0].className.includes('asc') ? 'desc' : 'asc';
                    const items = document.querySelectorAll('.sorting');
                    for (let i = 0; i < items.length; i++) {
                        items[i].className = '';
                    }
                }
                document.getElementById(column).classList.add('sorting');
                document.getElementById(column).classList.add(order);
                this.filtros.order      = order;
                this.filtros.order_by   = column;
                this.filtros.page       = 1;
                this.listar();
            },
            redireccionar(id, accion = 'add'){
                location.href ="/areas/create?id=" + id +"&inmueble_id=" + this.filtros.inmueble_id + '&accion=' + accion;
            },
            generaDescripcion(){
                let titulo = this.tituloInmueble.toUpperCase();
                this.descripcion = `unidad de propiedad exclusiva perteneciente al condominio denominado “ARMORAN TOP”, condominio constituido en el predio urbano ubicado en esta ciudad y municipio de Mérida, en la manzana veintiuno de la sección catastral veintiséis, marcado con el número doscientos noventa de la calle catorce del fraccionamiento Montebello.  Superficie de construcción exclusiva: 40.77m2 (cuarenta punto setenta y siete metros cuadrados), integrado por: Área Techada de Área Principal de 40.77m2 (cuarenta punto setenta y siete metros cuadrados).  El inmueble que se describe, se compone por las siguientes áreas de uso exclusivo: Área Principal Oficina 001 (cero cero uno), Área Techada, ubicado en Planta Baja y Cajón de Estacionamiento Oficina 001 (cero cero uno), Área Descubierta, ubicado en Planta Baja, queda excluida el área señalado como ducto.  A continuación se describen los polígonos que conforman la unidad que se describe: Área Principal Oficina 001 (cero cero uno), Área Techada: partiendo del vértice sureste en línea   recta   en dirección al noreste, colindando con Área Común Descubierta Planta Baja, mide 9.30m (nueve punto treinta metros), de este punto en linea   recta   en dirección al noroeste, colindando con Área Común Descubierta Planta Baja, mide 4.40m (cuatro punto cuarenta metros), de este punto en linea   recta   en dirección al suroeste, colindando con Área Común Descubierta Planta Baja, mide 9.40m (nueve punto cuarenta metros), de este punto en linea   recta   en dirección al sureste, colindando con Área Común Descubierta Planta Baja, mide 2.75m (dos punto setenta y cinco metros), de este punto en linea   recta   en dirección al noreste, colindando con Área Común Descubierta Planta Baja, mide 0.10m (cero punto diez metros), y para cerrar el polígono que se describe, de este punto en linea   recta   en dirección al sureste, colindando con Área Común Descubierta Planta Baja, mide 1.65m (uno punto sesenta y cinco metros); Ducto Servicios Oficina 001 (cero cero uno), Ducto: partiendo del vértice sureste en línea   recta   en dirección al noreste, mide 0.30m (cero punto treinta metros), de este punto en linea   recta   en dirección al noroeste, mide 1.45m (uno punto cuarenta y cinco metros), de este punto en linea   recta   en dirección al suroeste, mide 0.30m (cero punto treinta metros), y para cerrar el polígono que se describe, de este punto en linea   recta   en dirección al sureste, mide 1.45m (uno punto cuarenta y cinco metros); Cajón de Estacionamiento Oficina 001 (cero cero uno), Área Descubierta: partiendo del vértice sureste en línea   recta   en dirección al noreste, mide 5.26m (cinco punto veintiseis metros), de este punto en linea   recta   en dirección al noroeste, mide 3.82m (tres punto ochenta y dos metros), de este punto en linea   recta   en dirección al suroeste, mide 5.26m (cinco punto veintiseis metros), y para cerrar el polígono que se describe, de este punto en linea   recta   en dirección al sureste, mide 3.82m (tres punto ochenta y dos metros).  A la unidad Oficina 001 (cero cero uno) corresponde una cuota de participación de 1.75435% (UNO PUNTO SIETE CINCO CUATRO TRES CINCO PORCIENTO).`;
            },
            respuestaOk(mensaje= ''){
                document.getElementById("btnCerrar").click();
                setTimeout(() => {
                    swal({
                        title: 'Operacion exitosa',
                        text: mensaje,
                        icon: 'success',
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    this.listar();
                    this.limpiaCampos();
                }, 250);
            },
            respuestaError(error){
                console.log(error);
                let mensaje = "Se presento un erro favor de intentar de nuevo";
         
                if(typeof(error.response.data.error) === 'string'){
                    mensaje = error.response.data.error;
                }
                else{
                    let errores = Object.values(error.response.data.error);
                    mensaje = ``;

                    for (var i = 0; i < errores.length; i++) {
                        mensaje+= `* ` + errores[i] + `\n`;
                    }
                }

                swal("Error!", mensaje, {
                    icon : "error",
                    buttons: { confirm: { className : 'btn btn-danger'}},
                });
            }
        },
        created() {
            let cliente              = document.getElementById('clienteId').value;
            let inmueble_id          = document.getElementById('idInmueble').value;
            this.filtros.inmueble_id = inmueble_id == "" ? null : parseInt(inmueble_id);
            this.area.inmueble_id    = this.filtros.inmueble_id
            this.tituloInmueble      = document.getElementById('tituloInmueble').value;
            this.getCatalogos();
            this.generaDescripcion();
            this.listar();

            if(cliente == ""){
                this.rol = 'admin';
                this.getClientes();
            }
        }
    }
</script>

<style scoped>

    .form-group{
        padding-top: 3px !important;
    }
    .margenes{
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .scroll {
		width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .primero{
        margin-left: 20px;
    }
    .label{
        margin-top: 10px;
        margin-right: 10px;
        color: #fff !important;
    }
    .labelTitulo{
        font-size: 18px !important;
        color: black !important;
    }
    .labelRespuesta{
        font-size: 16px !important;
        color: black !important;
    }
    .descripcion{
        max-height: 500px !important;
        overflow-y: scroll;
    }
    .tituloDescripcion{
        text-align: center;
        font-size: 20px;
    }
</style>