<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4 class="page-title">Areas</h4>
                    <ul class="breadcrumbs">
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/inmuebles">Inmuebles</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#" @click="cancelar()">Áreas</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <button class="btn btn-primary btn-round btnAgregar float-right" @click="agregar()" :disabled="loading">Agregar</button>
                <button class="btn btn-primary btn-round btnAgregar float-right" @click="validaTamano()" :disabled="loading">Guardar</button>
            </div>
        </div>
                        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" :class="loading ? '' : 'scroll' ">
                        <div v-if="loading" class="d-flex justify-content-center" style="margin-top: 40px;">
                                <div class="spinner-border text-secondary" role="status">
                                    <i class="fas fa-spinner fa-pulse fa-4x" id="cargando"></i>
                                </div>
                        </div>

                        <div v-else >
                            <div class="" style="border: 1pt solid white; padding-left:5px !important">
                                <div class="form-row">
                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Código: </small>
                                        <div class="input-group px_150 margenes" id="formCodigo">
                                            <input type="text" class="form-control" v-model="area.codigo" placeholder="Código">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4" style="padding: 0px !important">
                                        <small class="label">Tipo unidad: </small>
                                        <div id="formTipoUnidad">
                                            <select class="form-control px_350 margenes" v-model="area.cat_tipo_id">
                                                <option value="null">Seleccionar</option>
                                                <option v-for="(item,index) in catalogos.catTipo" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                            </select>
                                        </div>   
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Número: </small>
                                        <div class="input-group px_150 margenes" id="formNumero">
                                            <input type="text" class="form-control" v-model="area.no" placeholder="Número">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Unidad de medida: </small>
                                        <div id="formMedidaCE">
                                            <select class="form-control px_150 margenes" v-model="area.unidad_medida_ce_id">
                                                <option value="null">Seleccionar</option>
                                                <option v-for="(item,index) in catalogos.catMedida" :key='index' v-text="item.clave + ' - ' + item.nombre" :value="item.id"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3" style="padding: 0px !important">
                                        <small class="label">Terreno exclusivo: </small>
                                        <div class="input-group px_250 margenes" id="formTExclusivo">
                                            <input type="number" step="0.01" class="form-control" v-model="area.terreno_exclusivo" placeholder="Exclusivo">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Terreno común: </small>
                                        <div class="input-group px_150 margenes" id="formTComun">
                                            <input type="number" step="0.01" class="form-control" v-model="area.terreno_comun" placeholder="Común">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3" style="padding: 0px !important">
                                        <small class="label">Construcción exclusiva: </small>
                                        <div class="input-group px_250 margenes" id="formCExclusiva">
                                            <input type="number" step="0.01" class="form-control" v-model="area.construccion_exclusiva" placeholder="Exclusivo">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Construcción común: </small>
                                        <div class="input-group px_150 margenes" id="formCComun" >
                                            <input type="number" step="0.01" class="form-control" v-model="area.construccion_comun" placeholder="Común">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2" style="padding: 0px !important">
                                        <small class="label">Cuota de participación: </small>
                                        <div class="input-group px_150 margenes" id="formParticipacion" >
                                            <input type="number" max="100" class="form-control" v-model="area.cuota_participacion" placeholder="Participación">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <table class="table tablaParticular">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Excluir</th>
                                        <th scope="col">Tipo de unidad</th>
                                        <th scope="col">Unidad de medida</th>
                                        <th scope="col">Uso</th>
                                        <th scope="col">No de uso</th>
                                        <th scope="col">Ubicación</th>
                                        <th scope="col">Clasificación</th>
                                        <th scope="col">Clasificación 2</th>
                                        <th scope="col">Terreno exclusivo</th>
                                        <th scope="col">Construcción exclusiva</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr v-for="(item, index) in particulares" :key="index">
                                        <th scope="row">
                                            <div v-html="item.oculto"></div>
                                            <div class="switch-container" >
                                                <input type="checkbox" :id="'excluir'+ item.index" class="switchColindancia" :checked="item.excluir">
                                                <label :for="'excluir'+ item.index" class="lblSwitch"></label>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="form-group" v-html="item.tipo"></div>
                                        </td>
                                        <td>
                                            <div class="form-group" v-html="item.medida"></div>
                                        </td>
                                        <td>
                                            <div class="form-group" v-html="item.uso"></div>
                                        </td>
                                        <td>
                                            <div class="input-group px_150 margenes" v-html="item.nUso"></div>
                                        </td>
                                        <td>
                                            <div class="form-group" v-html="item.ubicacion"></div>
                                        </td>
                                        <td>
                                            <div class="form-group" v-html="item.clasificacion"></div>
                                        </td>
                                        <td>
                                            <div class="form-group" v-html="item.clasificacionDos"></div>
                                        </td>
                                        <td>
                                            <div class="input-group px_150 margenes" v-html="item.terreno"></div>
                                        </td>
                                        <td>
                                            <div class="input-group px_150 margenes" v-html="item.construccion"></div>
                                        </td>
                                        <td>
                                            <span>
                                                <button type="button" @click="eliminar(item)" title="Eliminar" class="btn btn-link"><i class="far fa-trash-alt" style="color: #fff"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                       <!--  <div class="col-md-1">
                            <button class="btn btn-primary btnAgregar" @click="validaciones()">{{btnTexto}}</button>
                            <button v-if="area.id != null" style="margin-top: 20px;" class="btn btn-danger btnAgregar" @click="limpiaCampos()">Cancelar</button>
                        </div>  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                loading     : true,
                index       : 0,
                base_url    : '/api/areas',
                catalogos   : [],
                particulares: [],
                eliminadas  : [],
                inmueble_id : null, 
                general_id  : null,
                inmueble    : null,
                respuesta   : null,
                accion      : 'add',
                area:{
                    id              : null,
                    codigo          : "",
                    tipo            :'general',
                    no              : "",
                    no_uso          : "",
                    inmueble_id     : null,
                    cat_area_id     : null,
                    cat_tipo_id     : null,
                    cat_nivel_id    : null,
                    cat_uso_id      : null,
                    cat_clasificacion_id    : null,
                    cat_clasificacion_dos_id: null,
                    terreno_exclusivo       : "",
                    terreno_comun           : "",
                    construccion_exclusiva  : "",
                    unidad_medida_ce_id     : null,
                    construccion_comun      : "",
                    clase                   : null,
                    cuota_participacion     : "",
                    comentarios             : "",
                    colindancias            : [],
                    eliminar                : [],
                    array                   : [],
                },
            }
        },
        methods: {
            async getCatalogos(){
                try{
                    const res       = await axios.get( this.base_url + '/catalogos/' + this.inmueble_id);
                    this.catalogos  = res.data;
                    const inm       = await axios.get('/api/inmuebles/' + this.inmueble_id);
                    this.inmueble   = inm.data[0];
                    let params      = { "inmueble_id": this.inmueble_id, "codigo": this.area.codigo };
                    const respuesta = await axios.get(this.base_url +'/validacion', { params: params});

                    if(this.accion != 'add'){
                        const part      = await axios.get( this.base_url + '/particulares', { params: { id : this.general_id }});
                        const general   = await axios.get( this.base_url + '/' + this.general_id );
                        
                        for (let i = 0; i < part.data.length; i++) {
                            let item = this.generar(i, part.data[i]);
                            this.particulares.push(item); 
                        }
                        this.area.id              = general.data[0].id;
                        this.area.codigo          = general.data[0].codigo;
                        this.area.no              = general.data[0].no;
                        this.area.inmueble_id     = general.data[0].inmueble_id;
                        this.area.cat_area_id     = general.data[0].cat_area_id;
                        this.area.cat_tipo_id     = general.data[0].cat_tipo_id;
                        this.area.cat_nivel_id    = general.data[0].cat_nivel_id;
                        this.area.cat_uso_id      = general.data[0].cat_uso_id;
                        this.area.terreno_exclusivo       = general.data[0].terreno_exclusivo;
                        this.area.terreno_comun           = general.data[0].terreno_comun;
                        this.area.construccion_exclusiva  = general.data[0].construccion_exclusiva;
                        this.area.unidad_medida_ce_id     = general.data[0].unidad_medida_ce_id;
                        this.area.construccion_comun      = general.data[0].construccion_comun;
                        this.area.cuota_participacion     = general.data[0].cuota_participacion;
                    }
                    this.loading    = false;
                } catch (error) {
                    this.loading    = false;
                    this.respuestaError(error);
                }
            },
            agregar(){
                if(this.particulares.length > 0){
                    let ultimo      = this.particulares.length;
                    let validacion  = this.validaciones(ultimo);
                    
                    if(validacion){
                        let nuevo   = this.generar();
                        this.particulares.push(nuevo); 
                    }
                    else{
                        swal("Error!", 'Favor de llenar los campos requeridos', {
                            icon : "error",
                            buttons: { confirm: { className : 'btn btn-danger'}},
                        });
                        return;
                    }
                }
                else{
                    let nuevo   = this.generar();
                    this.particulares.push(nuevo);
                }
            },
            validaciones(ultimo){
                let response = true;

                //Obtengo el id de los divs para insertar el error
                var tipo    = document.getElementById("divTipoUnidad" + ultimo);
                var uso     = document.getElementById("divUso" + ultimo);
                var nivel   = document.getElementById("divUbicacion" + ultimo);
                var clasi   = document.getElementById("divClasificacion" + ultimo);
                var tExcu   = document.getElementById("divTExclusivo" + ultimo);
                var cExclu  = document.getElementById("divCExclusiva" + ultimo);
                var unidad  = document.getElementById("divMedidaCE" + ultimo);

                //Obtengo el valor insertado para validar
                var vTipo    = document.getElementById('tipo' + ultimo).value;
             
                var vUso     = document.getElementById("uso" + ultimo).value;
                var vNivel   = document.getElementById("ubicacion" + ultimo).value;
                var vClasi   = document.getElementById("clasificacion" + ultimo).value;
                var vtExcu   = document.getElementById("terreno" + ultimo).value;
                var vcExclu  = document.getElementById("construccion" + ultimo).value;
                var vUnidad  = document.getElementById("medida" + ultimo).value;

                //Comeizo con las validaciones
                if(vTipo == null || vTipo== "null"){
                    response = false;                    
                    tipo.className += " has-error";
                }
                else
                    tipo.classList.remove('has-error');

                if(vUso == null || vUso == "null"){
                    response = false;                    
                    uso.className += " has-error";
                }
                else
                    uso.classList.remove('has-error');

                if(vNivel == null || vNivel == "null"){
                    response = false;                    
                    nivel.className += " has-error";
                }
                else
                    nivel.classList.remove('has-error');

                if(vClasi == null || vClasi == "null"){
                    response = false;                    
                    clasi.className += " has-error";
                }
                else
                    clasi.classList.remove('has-error');

                /* if(vtExcu == ""){
                    response = false;
                    tExcu.className += " has-error";
                }
                else
                    tExcu.classList.remove('has-error');

                if(vcExclu == ""){
                    response = false;
                    cExclu.className += " has-error";
                }
                else
                    cExclu.classList.remove('has-error'); */

                if(vUnidad == null || vUnidad == "null"){
                    response = false;                    
                    unidad.className += " has-error";
                }
                else
                    unidad.classList.remove('has-error');
                
                return response;
            },
            generar(add= null, data = null){
                let id          = 0;
                let valNumero   = "";
                let valTerreno  = "";
                let valConst    = "";
                let excluir     = false;
                this.index      = add == null ? this.index + 1 : add;

                if(add != null && data == null){
                    id          = parseInt(document.getElementById('id'+add).value);
                    excluir     = document.getElementById('excluir'+ add).checked;
                    valNumero   = document.getElementById('nUso'+add).value;
                    valTerreno  = document.getElementById('terreno'+add).value;
                    valConst    = document.getElementById('construccion'+add).value;
                }
                else if(add != null && data != null){
                    id          = parseInt(data.id);
                    excluir     = data.excluir;
                    valNumero   = data.no_uso;
                    valTerreno  = data.terreno_exclusivo;
                    valConst    = data.construccion_exclusiva;
                }
  
                let tipo = '<div id="divTipoUnidad'+this.index+'"><select class="form-control px_250 margenes" id="tipo'+ this.index +'" ><option value="null">Seleccionar</option>';
                this.catalogos.catTipo.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('tipo'+add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.cat_tipo_id ? "selected" : ""; 

                    tipo += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                tipo += '</select></div>';

                let medida = '<div id="divMedidaCE'+this.index+'"><select class="form-control px_150 margenes" id="medida'+ this.index +'" ><option value="null">Seleccionar</option>';
                this.catalogos.catMedida.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('medida' + add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.unidad_medida_ce_id ? "selected" : ""; 

                    medida += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                medida += '</select></div>';

                let uso = '<div id="divUso'+this.index+'"><select class="form-control px_150 margenes" id="uso'+ this.index +'"><option value="null">Seleccionar</option>';
                this.catalogos.catUso.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('uso' + add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.cat_uso_id ? "selected" : ""; 

                    uso += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                uso += '</select></div>';

                let ubicacion = '<div id="divUbicacion'+this.index+'"><select class="form-control px_250 margenes" id="ubicacion'+ this.index +'"><option value="null">Seleccionar</option>';
                this.catalogos.catNivel.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('ubicacion' + add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.cat_nivel_id ? "selected" : ""; 

                    ubicacion += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                ubicacion += '</select></div>';
                
                let clasificacion = '<div id="divClasificacion'+this.index+'"><select class="form-control px_250 margenes" id="clasificacion'+ this.index +'"><option value="null">Seleccionar</option>';
                this.catalogos.catClasificacion.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('clasificacion' + add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.cat_clasificacion_id ? "selected" : ""; 

                    clasificacion += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                clasificacion += '</select></div>';

                let clasificacionDos = '<div id="divClasificacionDos'+this.index+'"><select class="form-control px_250 margenes" id="clasificacionDos'+ this.index +'"><option value="null">Seleccionar</option>';
                this.catalogos.catClasificacion.forEach(item => {
                    let select =  "";   

                    if(add != null && data == null)
                        select = item.id == document.getElementById('clasificacionDos' + add).value ? "selected" : "";
                    else if(add != null && data != null)
                        select = item.id == data.cat_clasificacion_dos_id ? "selected" : ""; 

                    clasificacionDos += '<option '+ select +' value="'+ item.id +'">'+ item.clave + ' - ' + item.nombre +'</option>';
                });
                clasificacionDos += '</select></div>';
                
                let object = {
                    'id'        : id,
                    'excluir'   : excluir,
                    'oculto'    : '<input type="hidden" step="0.01" class="form-control" placeholder="Número" id="id'+ this.index +'" value="'+ id +'">',
                    'tipo'      : tipo,
                    'medida'    : medida,
                    'uso'       : uso,
                    'nUso'      : '<div id="nUso'+this.index+'"><input type="number" step="0.01" class="form-control" placeholder="Número" id="nUso'+ this.index +'" value="'+ valNumero +'"></div>',
                    'ubicacion'     : ubicacion,
                    'clasificacion' : clasificacion,
                    'clasificacionDos': clasificacionDos,
                    'terreno'       : '<div id="divTExclusivo'+this.index+'"><input type="number" step="0.01" class="form-control" placeholder="Exclusivo" id="terreno'+ this.index +'" value="'+ valTerreno +'"></div>',
                    'construccion'  : '<div id="divCExclusiva'+this.index+'"><input type="number" step="0.01" class="form-control" placeholder="Exclusivo" id="construccion'+ this.index +'" value="'+ valConst +'"></div>',
                    'index'         : this.index,
                };

                return object;
            },
            eliminar(item){
                swal({
                    title: 'Alerta',
                    text: "¿Estas seguro que deseas eliminar el área?",
                    type: 'warning',
                    icon: 'warning',
                    buttons:{
                        confirm: { text : 'Aceptar', className : 'btn btn-aceptar' },
                        cancel: { visible: true, text: "Cancelar", className: 'btn btn-cancelar' }
                    }
					})
                .then((Delete) => {
                    if (Delete){
                        if(this.particulares.length > 1){
                            let temp = [];
                            this.particulares.forEach(element => {
                                if(element.index != item.index)
                                    temp.push(this.generar(element.index));
                                else
                                    this.eliminadas.push(item.id);
                            });

                            this.particulares = temp;
                        }
                        else{
                            this.particulares.splice(0, 1);
                            this.eliminadas.push(item.id)
                        }
                    }
                    else
                        swal.close();
                });

                
            },
            validaGeneral(){
                let response = true;
                var codigo  = document.getElementById("formCodigo")
                var tipo    = document.getElementById("formTipoUnidad");
                var numero  = document.getElementById("formNumero");
                var unidad  = document.getElementById("formMedidaCE");
                var tExcu   = document.getElementById("formTExclusivo");
                var tComun  = document.getElementById("formTComun");
                var cComun  = document.getElementById("formCComun");
                var cExclu  = document.getElementById("formCExclusiva");
                var parti   = document.getElementById("formParticipacion");
                
                if(this.area.codigo == ""){
                    response = false;                    
                    codigo.className += " has-error";
                }
                else
                   codigo.classList.remove('has-error'); 

                if(this.area.no == ""){
                    response = false;
                    numero.className += " has-error";
                }
                else
                    numero.classList.remove('has-error');
                
                if(this.area.cat_tipo_id == null || this.area.cat_tipo_id == "null"){
                    response = false;                    
                    tipo.className += " has-error";
                }
                else
                    tipo.classList.remove('has-error');
              
                if(this.area.terreno_exclusivo == ""){
                    response = false;
                    tExcu.className += " has-error";
                }
                else
                    tExcu.classList.remove('has-error');

                if(this.area.terreno_comun == ""){
                    response = false;
                    tComun.className += " has-error";
                }
                else
                    tComun.classList.remove('has-error');

                if(this.area.construccion_comun == ""){
                    response = false;
                    cComun.className += " has-error";
                }
                else
                    cComun.classList.remove('has-error');

                if(this.area.cuota_participacion == ""){
                    response = false;
                    parti.className += " has-error";
                }
                else
                    parti.classList.remove('has-error');
                
                if(this.area.construccion_exclusiva == ""){
                    response = false;
                    cExclu.className += " has-error";
                }
                else
                    cExclu.classList.remove('has-error');

                if(this.area.unidad_medida_ce_id == null || this.area.unidad_medida_ce_id == "null"){
                    response = false;                    
                    unidad.className += " has-error";
                }
                else
                    unidad.classList.remove('has-error');
                
                return response;
            },
            validaTamano(){
                let succes  = false;
                let error   = "";
                let tcomun  = this.respuesta == null ? 0 : this.respuesta.data.totales.terreno_comun;
                let texlusi = this.respuesta == null ? 0 : this.respuesta.data.totales.terreno_exclusivo;
                let ccomun  = this.respuesta == null ? 0 : this.respuesta.data.totales.construccion_comun;
                let cexlusi = this.respuesta == null ? 0 : this.respuesta.data.totales.constuccion_exclusiva;
            
                if(parseFloat(this.inmueble.terreno_comun )< (tcomun + parseFloat(this.area.terreno_comun)))
                    error = error + " terreno comun,";
                if(parseFloat(this.inmueble.terreno_exclusivo) < (texlusi + parseFloat(this.area.terreno_exclusivo)))
                    error = error + " terreno exclusivo,";  
                if(parseFloat(this.inmueble.constuccion_comun) < (ccomun + parseFloat(this.area.construccion_comun)))
                    error = error + " construccion comun,";  
                if(parseFloat(this.inmueble.constuccion_exclusiva) < (cexlusi + parseFloat(this.area.construccion_exclusiva)))
                    error = error + " construccion exclusiva,";   

                if(error !== ""){
                    var strnew = error.substr(0, error.length - 1);
                    swal({
                        title: "¿Continuar?",
                        text: "Se ha superado las medidas de " + strnew + ".",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                           this.guardar();
                        }
                    });
                }
                else{
                    this.guardar();
                }

                return succes;
            },
            async guardar(){
                let final       = [];
                let response    = true;
                let validacion  = this.validaGeneral();

                if(!validacion)
                    return;

                for (let i = 0; i < this.particulares.length; i++) {
                    let index   = this.particulares[i].index;
                    let id      = parseInt(document.getElementById('id'+index).value);
                    let excluir = document.getElementById('excluir'+ index).checked;
                    let tipo    = document.getElementById('tipo' + index).value;

                    if(tipo != 'null'){
                        let validacion  = this.validaciones(index);
                        if(validacion){
                            let individual = {
                                'id'            : id,
                                'excluir'       : excluir,
                                /* 'general_id'    : this.general_id, */
                                'cat_tipo_id'   : document.getElementById('tipo' + index).value     == "null"   ? null : parseInt(document.getElementById('tipo' + index).value),
                                'cat_uso_id'    : document.getElementById('uso' + index).value      == "null"   ? null : parseInt(document.getElementById('uso' + index).value),
                                'no_uso'        : document.getElementById('nUso' + index).value     == ""       ? null : parseFloat(document.getElementById('nUso' + index).value),
                                'cat_nivel_id'  : document.getElementById('ubicacion' + index).value == "null"  ? null : parseInt(document.getElementById('ubicacion' + index).value),
                                'unidad_medida_ce_id'       : document.getElementById('medida' + index).value           == "null"   ? null : parseInt(document.getElementById('medida' + index).value),
                                'cat_clasificacion_id'      : document.getElementById('clasificacion' + index).value    == "null"   ? null : parseInt(document.getElementById('clasificacion' + index).value),
                                'cat_clasificacion_dos_id'  : document.getElementById('clasificacionDos' + index).value == "null"   ? null : parseInt(document.getElementById('clasificacionDos' + index).value),
                                'terreno_exclusivo'         : document.getElementById('terreno' + index).value          == ""       ? null : parseFloat(document.getElementById('terreno' + index).value),
                                'construccion_exclusiva'    : document.getElementById('construccion' + index).value     == ""       ? null : parseFloat(document.getElementById('construccion' + index).value),
                            }    
                            final.push(individual);
                        }
                        else{
                            response = false;
                            swal("Error!", 'Favor de llenar los campos requeridos', {
                                icon : "error",
                                buttons: { confirm: { className : 'btn btn-danger'}},
                            });
                            break;
                        }
                    }
                }

                if(response){
                    try {
                        this.area.eliminar  = this.eliminadas;
                        this.area.array     = final; 
                        
                        if(this.accion == "add")
                            await axios.post(this.base_url,  this.area);
                        else
                            await axios.put(this.base_url,  this.area);

                        this.respuestaOk()
                    } catch (error) {
                        this.respuestaError(error);
                    }
                }
            },
            cancelar(){
                document.getElementById('salirArea').click();
            },
            respuestaOk(mensaje= ''){
                setTimeout(() => {
                    swal({
                        title: 'Operacion exitosa',
                        text: mensaje,
                        icon: 'success',
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2200
                    });
                }, 250);

                setTimeout(() => {
                    document.getElementById('salirArea').click();
                }, 2500);
            },
            respuestaError(error){
                console.log(error);
                let mensaje = "Se presento un erro favor de intentar de nuevo";
         
                if(typeof(error.response.data.error) === 'string'){
                    mensaje = error.response.data.error;
                }
                else{
                    let errores = Object.values(error.response.data.error);
                    mensaje = ``;

                    for (var i = 0; i < errores.length; i++) {
                        mensaje+= `* ` + errores[i] + `\n`;
                    }
                }

                swal("Error!", mensaje, {
                    icon : "error",
                    buttons: { confirm: { className : 'btn btn-danger'}},
                });
            }
        },
        created() {
            this.inmueble_id        = document.getElementById('idInmueble').value;
            this.area.inmueble_id   = document.getElementById('idInmueble').value
            this.accion             = document.getElementById('idAccion').value;
            if(this.accion != 'add')
                this.general_id  = document.getElementById('idArea').value;
            
            this.getCatalogos();
        }
    }
</script>

<style scoped>
    .scroll {
        width: 100%;
        overflow-x: scroll;
    }

    /* CSS para el swich */
    .lblSwitch{
        display:inline-block;
        width: 100px;
        height: 33px;
        background: #979797;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: .2s;
    }
    .lblSwitch::after{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: #eee;
        border-radius: 100px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: .2s;
    }
    
    .lblSwitch{
        display:inline-block;
        width: 100px;
        height: 33px;
        background: #979797;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: .2s;
    }
    .lblSwitch::after{
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        background: #eee;
        border-radius: 100px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: .2s;
    }
    
    .switchColindancia:checked + .lblSwitch::after{
        left: 71px;
    }

    .switchColindancia:checked + .lblSwitch{
        background: #09B836;
    }
    .switchColindancia{
        display: none;
    }

    .tablaParticular{
        margin-top: 40px;
    }
</style>