
<template>
  <div>

    <div v-if="component == 'form-one'">
      <div class="row">
        <div class="col-md-12">
          <template>
            <div
              v-for="subs in subscripciones.data"
              :key="subs.id"
              :subscripcion="subs"
            >
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="card">
                    <div class="d-flex justify-content-between flex-column">
                      <div
                        class="
                          pricing-table-plan__padding
                          pt-35
                          pb-40
                          d-flex
                          justify-content-between
                          flex-column
                        "
                      >
                        <div class="d-flex flex-column">
                          <div class="plan-header-container">
                            <h1
                              class="text-center mt-3"
                            >
                              {{ subs.nombre }}
                            </h1>
                            <p
                              class="
                                mt-10
                                text-center
                                mh-50-md
                                pt-description
                                text-h-meteorite-dark
                              "
                            >
                              <span style="padding-left: 20px">
                                {{ subs.descripcion }}</span
                              >
                            </p>
                          </div>
                          <div
                            class="
                              d-flex
                              align-items-center
                              justify-content-center
                              mt-20
                            "
                          >
                            <div
                              class="
                                
                                text-content-grey
                                mr-5
                                ml-5
                                pt-discounted-price
                                white-space-no-wrap
                              "
                              data-original-price="99.99"
                              >Créditos: </div
                            >
                            <div
                              class="
                                body
                                l200
                                text-white
                                fw-700
                                p-1
                                border-radius-round
                                pr-10
                                pl-10
                                text-center
                                primary
                                meteorite
                                small
                                discount-labels-pricing-table
                              "
                            >
                              {{subs.creditos}}
                            </div>
                          </div>
                          <div class="price-block">
                            <div
                              class="price-block-wrapper pricing-table__price"
                            >
                              <div
                                class="
                                  text-h-black text-center
                                  fw-700
                                  lh-1
                                  mt-5
                                  pricing-table-plan__price
                                  d-flex
                                  flex-wrap
                                  justify-content-center
                                "
                              >
                                <span
                                  class="
                                     mx-3
                                    price__symbol
                                    pricing-table-price__symbol
                                    currency-selector-symbol
                                  "
                                  >MX $  </span
                                ><span
                                  class="
                                    price__price
                                    pricing-table-price__price
                                    currency-selector-price
                                  "
                                  >{{ subs.costo }}</span
                                ><span class="pt-title align-self-end lh-1"
                                  >/mes</span
                                >
                              </div>
                            </div>
                          </div>
                          <div class="justify-content-center">
                            <button
                              class="
                                btn btn-primary btn-round
                                btnAgregar
                                float-right
                              "
                              v-on:click="comprar(subs)"
                            >
                              Comprar
                            </button>
                          </div>
                        </div>
                        <div>
                          <hr class="mt-40 mb-15" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <div class="row"></div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
    <div v-else>
      <component
        v-bind:is="'form-two'"
        :subscripcion="subscripcion"
      ></component>
    </div>
  </div>
</template>

<script>

import comprarpaquete from "./Subscripciones/ComprarpaqueteComponent.vue";
export default {
  components: {
    "form-two": comprarpaquete,
  },
  data() {
    return {
      loading: true,
      base_url: "/api/catalogos/subscripcion",
      subscripciones: [],
      tituloModal: "",
      component: "form-one",
      paginas: [],
      show: 10,
      filtros: {
        nombre: "",
        cliente_id: null,
        order: "desc",
        order_by: "id",
        page: 1,
        show: 10,
      },
      subscripcion: {
        id: 0,
        nombre: "",
        cliente_id: null,
        descripcion: "",
        costo: 0,
        creditos: 0,
      },
      clientes: [],
      rol: "usuario",
      to: 0,
      from: 0,
      total: 0,
    };
  },
  watch: {
    show: function (val) {
      this.filtros.show = val;
      this.filtros.page = 1;
      this.listar();
    },
  },
  methods: {
    async listar(accion = "") {
      if (accion != "") document.getElementById("btnCerrarBusqueda").click();

      try {
        const res = await axios.get(this.base_url + "/find", {
          params: this.filtros,
        });
        this.subscripciones = res.data;

        this.loading = false;
      } catch (error) {
        this.respuestaError(error);
      }
    },
    abreModal(item = null) {
      this.tituloModal = "Registrarse";
      this.limpiaCampos();
      this.subscripcion.gratuito = false;
      if (item != null) {
        this.tituloModal = "Editar subscripción";
        this.subscripcion.id = item.id;

        this.subscripcion.nombre = item.nombre;
        this.subscripcion.cliente_id = item.cliente_id;
        this.subscripcion.descripcion = item.descripcion;
        this.subscripcion.gratuito = item.gratuito;
        this.subscripcion.costo = item.costo;
        this.subscripcion.creditos = item.creditos;
        if (item.gratuito) {
          document.getElementById("decCosto").disabled = true;
        } else {
          document.getElementById("decCosto").disabled = false;
        }
      }
    },
    ordenar(column) {
      let row = document.getElementsByClassName("sorting");
      let order = "asc";

      if (row.length > 0) {
        order = row[0].className.includes("asc") ? "desc" : "asc";
        const items = document.querySelectorAll(".sorting");
        for (let i = 0; i < items.length; i++) {
          items[i].className = "";
        }
      }
      document.getElementById(column).classList.add("sorting");
      document.getElementById(column).classList.add(order);
      this.filtros.order = order;
      this.filtros.order_by = column;
      this.filtros.page = 1;
      this.listar();
    },
    async exportar() {
      const FileDownload = require("js-file-download");
      let params = {
        tipo: "subscripcion",
        extension: "xlsx",
        paginate: false,
        ...this.filtros,
      };

      await axios({
        method: "POST",
        url: "/api/exportar",
        data: params,
        config: { "Content-Type": "multipart/form-data" },
        responseType: "blob",
      })
        .then((response, status, xhr) => {
          FileDownload(response.data, "subscripciones.xlsx");
        })
        .catch(function (error) {
          this.respuestaError(error);
        });
    },
    cargaArchivo() {
      let input = document.getElementById("uploadImg");
      input.click();
    },
    async onFileSelected(e) {
      let self = this;
      this.loading = true;
      let file = e.target.files[0];
      let formData = new FormData();
      formData.append("file", file);
      formData.append("tipo", "subscripcion");
      formData.append("cliente_id", this.subscripcion.cliente_id);

      await axios({
        method: "POST",
        url: "/api/importar",
        data: formData,
        config: { "Content-Type": "multipart/form-data" },
      })
        .then((response, status, xhr) => {
          self.loading = false;
          self.respuestaOk("Se ha importado los correctamente");
        })
        .catch(function (err) {
          self.loading = false;
          self.respuestaError(err);
        });
    },
    respuestaOk(mensaje = "") {
      document.getElementById("btnCerrar").click();
      setTimeout(() => {
        swal({
          title: "Operacion exitosa",
          text: mensaje,
          icon: "success",
          type: "success",
          showConfirmButton: false,
          timer: 2000,
        });
        this.listar();
      }, 250);
    },
    respuestaError(error) {
      console.log(error);
      let mensaje = "Se presento un erro favor de intentar de nuevo";

      swal("Error!", mensaje, {
        icon: "error",
        buttons: { confirm: { className: "btn btn-danger" } },
      });
    },
    async getClientes() {
      const res = await axios.get("/api/clientes/find", {
        params: { activo: true },
      });
      this.clientes = res.data.data;
    },
    validarCheck(checked) {
      if (!checked) {
        document.getElementById("decCosto").disabled = true;
      } else {
        document.getElementById("decCosto").value = "0.00";
        document.getElementById("decCosto").disabled = false;
      }
    },
    comprar(item) {
      //let params  = { id: iId};
      this.subscripcion.gratuito = item.gratuito;
      this.subscripcion.id = item.id;
      this.subscripcion.nombre = item.nombre;
      this.subscripcion.cliente_id = item.cliente_id;
      this.subscripcion.descripcion = item.descripcion;
      this.subscripcion.gratuito = item.gratuito;
      this.subscripcion.costo = item.costo;
      this.subscripcion.creditos = item.creditos;
      this.component = "form-two";
      //axios.get(this.base_url + '/comprarpaquete/'+iId);
    },
  },
  created() {
    let cliente = document.getElementById("clienteId").value;
    this.filtros.cliente_id = cliente == "" ? null : parseInt(cliente);
    this.subscripcion.cliente_id = this.filtros.cliente_id;
    this.subscripcion.gratuito = false;
    this.listar();

    if (cliente == "") {
      this.rol = "admin";
      this.getClientes();
    }
  },
};
</script>
