<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4 class="page-title">Usuarios</h4>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-icon btn-round btn-primary float-right" data-toggle="modal" data-target="#modalBuscar" @click="limpiaCampos()"><i class="fa fa-search"></i></button>
                <button class="btn btn-primary btn-round btnAgregar float-right" data-toggle="modal" data-target="#modalFormulario" @click="abreModal()">Agregar</button>
            </div>
        </div>
                        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" v-text="tituloModal"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <!-- <div class="form-group" id="divCliente" v-if="rol == 'admin'">
                                        <label for="txtCliente">Cliente</label>
                                        <select class="form-control form-control" v-model="usuario.cliente_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in clientes" :key='index' v-text="item.nombre + ' '+ item.apellido " :value="item.id"></option>>
                                        </select>
                                    </div>
                                    <div class="form-group" id="divCliente" v-if="rol == 'admin'">
                                        <label for="txtCliente">Rol</label>
                                        <select class="form-control form-control" v-model="usuario.rol_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in clientes" :key='index' v-text="item.nombre" :value="item.id"></option>>
                                        </select>
                                    </div> -->

                                    <div class="form-group" id="divNombre">
                                        <label for="txtNombre">Nombre(s)</label>
                                        <input class="form-control" placeholder="Nombre(s)" v-model="usuario.nombre" autocomplete="off">
                                    </div>
                                    <div class="form-group" id="divApellido">
                                        <label for="txtApellido">Apellidos</label>
                                        <input class="form-control" placeholder="Apellidos" v-model="usuario.apellido" autocomplete="off">
                                    </div>
                                    <div class="form-group" id="divTelefono">
                                        <label for="txtTelefono">Télefono</label>
                                        <input class="form-control" placeholder="Télefono" v-model="usuario.telefono" autocomplete="off" maxlength="10" minlength="10">
                                    </div>
                                    <div class="form-group" id="divCorreo">
                                        <label for="txtCorreo">Correo</label>
                                        <input class="form-control" placeholder="Correo" v-model="usuario.correo" autocomplete="off">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCerrar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" @click="guardar();" class="btn btn-primary">Guardar</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Buscar</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <!-- <div class="form-group" id="divCliente" v-if="rol == 'admin'">
                                        <label for="txtClave">Cliente</label>
                                        <select class="form-control form-control" v-model="filtros.cliente_id">
                                            <option value="null">Seleccionar</option>
                                            <option v-for="(item,index) in clientes" :key='index' v-text="item.nombre + ' '+ item.apellido " :value="item.id"></option>>
                                        </select>
                                    </div> -->

                                    <div class="form-group">
                                        <label for="txtNombre">Nombre</label>
                                        <input class="form-control" placeholder="Nombre" v-model="filtros.nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCorreo">Correo</label>
                                        <input class="form-control" placeholder="Correo" v-model="filtros.correo">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTelefono">Télefono</label>
                                        <input class="form-control" placeholder="Télefono" v-model="filtros.telefono">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtClave">Estatus</label>
                                        <select class="form-control form-control" v-model="filtros.activo">
                                            <option value="null">Seleccionar</option>
                                            <option value="true">Activo</option>
                                            <option value="false">Inactivo</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCerrarBusqueda" class="btn btn-secondary" data-dismiss="modal" style="display:none;">Cancelar</button>
                                <button type="button" @click="listar('buscar');" class="btn btn-primary">Buscar</button>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="loading == true" class="d-flex justify-content-center" style="background: #1a2035;">
                        <div class="spinner-border text-secondary" role="status">
                            <i class="fas fa-spinner fa-pulse fa-4x" id="cargando"></i>
                        </div>
                    </div>
                    <template v-else>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th @click="ordenar('nombre')" id="nombre" scope="col">Nombre</th>
                                        <th @click="ordenar('correo')" id="correo" scope="col">Correo</th>
                                        <th @click="ordenar('rol')" id="rol" scope="col">Rol</th>
                                        <th @click="ordenar('activo')" id="activo" scope="col">Estatus</th>
                                        <th style="width:25%">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="usuario in usuarios.data" :key="usuario.id">
                                        <td scope="row" v-text="usuario.nombre+ ' '+ usuario.apellido"></td>
                                        <td v-text="usuario.correo"></td>
                                        <td v-text="usuario.rol"></td>
                                        <td >{{ usuario.activo == true ? 'Activo' : 'Inactivo' }}</td>
                                        <td>
                                            <span>
                                                <button type="button" @click="restaurarPass(usuario)" title="Restaurar contraseña" class="btn btn-link"><i class="fa fa-lock" style="color: #fff"></i></button>
                                            </span>
                                            <span>
                                                <button type="button" @click="abreModal(usuario)" title="Editar" class="btn btn-link" data-toggle="modal" data-target="#modalFormulario"><i class="fa fa-edit" style="color: #fff"></i></button>
                                            </span>
                                            <span>
                                                <button type="button" @click="eliminar(usuario,'status')" title="Cambiar estatus" class="btn btn-link">
                                                    <template v-if="usuario.activo">
                                                        <i class="fas fa-toggle-on" style="color: #fff"></i>
                                                    </template>
                                                    <template v-else>
                                                        <i class="fas fa-toggle-off" style="color: #fff"></i>
                                                    </template>
                                                </button>
                                            </span>
                                            <span>
                                                <button type="button" @click="eliminar(usuario,'delete')" title="Eliminar" class="btn btn-link"><i class="far fa-trash-alt" style="color: #fff"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row paginacion" id="paginacion">
                            <div class="col-md-12 float-right">
                                <nav aria-label="Page navigation example" style="float:right;">
                                    <div class="pagination" >
                                        <div class="input-group mb-3">
                                            <div class="dataTables_info"> Mostrar: </div>
                                            <div style="width: 70px;">
                                                <select class="custom-select" v-model="show">
                                                    <option value="10" selected>10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                            <div class="dataTables_info"> <span v-text="from" ></span> - <span v-text="to" ></span> de <span v-text="total" ></span> </div>
                                            <div class="pagination" id="">
                                                <li class="page-item">
                                                    <span  v-if="filtros.page == 1" tabindex="0" class="page-link" >Anterior</span>
                                                    <span  v-else @click="cambiaPagina('anterior')" tabindex="0" class="page-link" >Anterior</span>
                                                </li>
                                                
                                                <li :class="pag.activo" v-for="(pag, i) in paginas" :key="i">
                                                    <span @click="cambiaPagina(pag.pagina)" tabindex="0" class="page-link" >{{ pag.pagina }}</span>
                                                </li>
                                                
                                                <li class="page-item">
                                                    <span  v-if="usuarios.last_page == filtros.page" class="page-link">Siguiente</span>
                                                    <span  v-else class="page-link" @click="cambiaPagina('siguiente')">Siguiente</span>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                loading     : true,
                base_url    : '/api/usuarios',
                clientes    : [],
                usuarios    : [],
                tituloModal : "",
                rol         : 'usuario',
                filtros:{
                    cliente_id  : null,
                    rol_id      : null,
                    nombre      : "",
                    correo      : "",
                    telefono    : "",
                    activo      : null,
                    order       : "desc",
                    order_by    : "id",
                    page        : 1,
                    show        : 10,
                },
                usuario:{
                    id          : 0,
                    cliente_id  : "",
                    rol_id      : 2,
                    nombre      : null,
                    apellido    : "",
                    telefono    : "",
                    correo      : ""
                },
                paginas : [],
                show    : 10,        
                to      : 0,
                from    : 0,
                total   : 0,
            }
        },
        watch:{
            show: function(val) {
                this.filtros.show = val;
                this.filtros.page = 1;
                this.listar();
            },
            usuario:{
                deep: true,
                handler(usuario){
                    var cleaned = ('' + this.usuario.telefono).replace(/\D/g, '');
                    console.log(cleaned);
                    var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
                    if (match) {
                        this.usuario.telefono = '(' + match[1] + ') ' + match[2] + '-' + match[3];
                    }
                }
        }
        },
        methods: {
            async listar(accion = ''){
                if(accion != '')
                    document.getElementById("btnCerrarBusqueda").click();

                try{
                    const res = await axios.get(this.base_url +'/find', { params: this.filtros });
                    this.usuarios   = res.data;
                    this.to         = res.data.to == null ? 0 : res.data.to;
                    this.from       = res.data.from == null ? 0 : res.data.from;
                    this.total      = res.data.total;
                    this.paginas    = [];
                    
                    for (let i = 1; i <= res.data.last_page; i++) {
                        let activo = 'page-item';

                        if(i == res.data.current_page)
                            activo = 'page-item active';
                        
                        if(res.data.last_page > 4){
                            if(res.data.current_page <= 3){
                                if(i <= 5)
                                    this.paginas.push({ pagina: i, activo: activo });                           
                                else if( i == 6)
                                    this.paginas.push({ pagina: '...', activo: activo });
                                else if(i == res.data.last_page)
                                    this.paginas.push({ pagina: i, activo: activo });
                            }
                            else{
                                if( i == ( res.data.current_page -2)){                                    
                                    this.paginas.push({ pagina: 1, activo: activo});
                                    this.paginas.push({ pagina: '...', activo: activo });
                                }
                                if( i == (res.data.current_page - 1) || i == res.data.current_page || i == (res.data.current_page +1) )
                                    this.paginas.push({ pagina: i, activo: activo });
                                
                                if( i == ( res.data.current_page  + 2)){
                                    this.paginas.push({ pagina: '...', activo: activo});
                                    this.paginas.push({ pagina: res.data.last_page, activo: activo });
                                }
                            }
                        }
                        else{
                            this.paginas.push({ pagina: i, activo: activo }); 
                        }
                    }
                    this.loading = false;
                }
                catch(error){
                    this.respuestaError(error);
                }
            },
            restaurarPass(item){
                swal({
                    title: 'Alerta',
                    text: "¿Estas seguro que deseas restaurar la contraseña?",
                    type: 'warning',
                    icon: 'warning',
                    buttons:{
                        confirm: { text : 'Aceptar', className : 'btn btn-aceptar' },
                        cancel: { visible: true, text: "Cancelar", className: 'btn btn-cancelar' }
                    }
					})
                .then((Delete) => {
                    if (Delete){
                        let mensaje = "Operacion exitosa";
                        let params  = { id: item.id, password: "123456" };

                        axios.put(this.base_url + '/password', params)
                        .then(response => {
                            this.respuestaOk(mensaje);
                        })
                        .catch(error => {
                            this.respuestaError(error);
                        });
                    }
                    else
                        swal.close();
                });
            },
            eliminar(item, accion){
                let texto = 'eliminar el usuario ' + item.nombre;
                
                if(accion != 'delete'){
                    if(item.activo)
                        texto = 'desactivar el usuario ' + item.nombre;
                    else
                        texto = 'activar el usuario ' + item.nombre;
                }

                swal({
                    title: 'Alerta',
                    text: "Estas seguro que deseas "+ texto,
                    type: 'warning',
                    icon: 'warning',
                    buttons:{
                        confirm: { text : 'Aceptar', className : 'btn btn-aceptar' },
                        cancel: { visible: true, text: "Cancelar", className: 'btn btn-cancelar' }
                    }
					}).then((Delete) => {
						if (Delete){
                            let mensaje = "Se ha eliminado correctamente";
                            let params  = { id: item.id, accion: accion };

                            if(accion != 'delete')
                                mensaje = 'Estatus cambiado correctamente';

                            axios.post(this.base_url + '/delete', params)
                            .then(response => {
                                this.respuestaOk(mensaje);
                            })
                            .catch(error => {
                                this.respuestaError(error);
                            });
                        }
						else
							swal.close();
					});

            },
            abreModal(item = null){
                this.tituloModal = "Agregar usuario";
                this.limpiaCampos();

                if(item != null){
                    this.tituloModal        = "Editar usuario";
                    this.usuario.id         = item.id;
                    this.usuario.cliente_id = item.cliente_id;
                    this.usuario.rol_id     = item.rol_id;
                    this.usuario.nombre     = item.nombre;
                    this.usuario.apellido   = item.apellido;
                    this.usuario.telefono   = item.telefono;
                    this.usuario.correo     = item.correo;
                }
            },
            limpiaCampos(){
                let cliente_id = this.rol == 'admin' ? null : this.usuario.cliente_id;
                this.usuario = {
                    id          : 0,
                    cliente_id  : cliente_id,
                    rol_id      : 2,
                    nombre      : "",
                    apellido    : "",
                    telefono    : "",
                    correo      : "",
                }
                this.filtros = {
                    cliente_id  : cliente_id,
                    rol_id      : null,
                    nombre      : "",
                    correo      : "",
                    telefono    : "",
                    activo      : null,
                    order       : "desc",
                    page        : 1,
                }

                const items = document.querySelectorAll('.has-error');
                for (let i = 0; i < items.length; i++) {
                    items[i].className = '';
                }
            },
            async guardar(){
                if(!this.validate())
                    return;

                try {
                    let res = null;
                    if(this.usuario.id == 0){
                        this.usuario.password = "123456";
                        res = await axios.post(this.base_url, this.usuario);
                    }
                    else
                        res = await axios.put(this.base_url, this.usuario);
                    
                    this.respuestaOk("Cambios realizados exitosamente.");
                } catch (error) {
                    this.respuestaError(error);
                }
            },
            validate(){
                let response    = true;
                var nombre      = document.getElementById("divNombre");
                var apellido    = document.getElementById("divApellido");
                var correo      = document.getElementById("divCorreo");

                
                /* if(this.rol == "admin"){
                    let cliente = document.getElementById("divCliente");
                    if(this.uso.cliente_id == null || this.uso.cliente_id == "null"){
                        response = false;                    
                        cliente.className += " has-error";
                    }
                    else
                        cliente.classList.remove('has-error'); 
                } */

                if(this.usuario.nombre == ""){
                    response = false;                    
                    nombre.className += " has-error";
                }
                else
                   nombre.classList.remove('has-error'); 

                if(this.usuario.apellido == ""){
                    response = false;
                    apellido.className += " has-error";
                }
                else
                    apellido.classList.remove('has-error'); 
                
                if(this.usuario.correo == ""){
                    response = false;
                    correo.className += " has-error";
                }
                else
                    correo.classList.remove('has-error'); 
                
                return response;    
            },
            /* 
            cargaArchivo(){
                let input = document.getElementById("uploadImg");
                input.click();
            },
            async onFileSelected(e){
                let self = this;
                this.loading = true;
                let file = e.target.files[0];
                let formData = new FormData();
                formData.append("file", file);
                formData.append("tipo", "cat-usos");
                formData.append("cliente_id", this.uso.cliente_id);

                await axios({
                    method  : "POST",                        
                    url     : '/api/importar',
                    data    : formData,
                    config  : {'Content-Type': 'multipart/form-data'},
                })
                .then((response, status, xhr)=> {
                    self.loading = false;
                    self.respuestaOk("Se ha importado los correctamente");
                })
                .catch(function (err) {
                    self.loading = false;
                    self.respuestaError(err);
                });
            }, */
            async getClientes(){
                const res       = await axios.get('/api/clientes/find', { params: { activo: true } });
                this.clientes   = res.data.data;
            },
            cambiaPagina(pag){
                if(pag == '...')
                    return;
                    
                if(pag == 'anterior')
                    this.filtros.page = this.filtros.page  - 1;
                else if(pag == 'siguiente')
                    this.filtros.page = this.filtros.page  + 1;
                else
                    this.filtros.page = pag;

                this.listar();
            },
            ordenar(column){
                let row     =  document.getElementsByClassName("sorting");
                let order   = 'asc';

                if(row.length > 0){
                    order = row[0].className.includes('asc') ? 'desc' : 'asc';
                    const items = document.querySelectorAll('.sorting');
                    for (let i = 0; i < items.length; i++) {
                        items[i].className = '';
                    }
                }
                document.getElementById(column).classList.add('sorting');
                document.getElementById(column).classList.add(order);
                this.filtros.order      = order;
                this.filtros.order_by   = column;
                this.filtros.page       = 1;
                this.listar();
            },
            respuestaOk(mensaje= ''){
                document.getElementById("btnCerrar").click();
                setTimeout(() => {
                    swal({
                        title: 'Operacion exitosa',
                        text: mensaje,
                        icon: 'success',
                        type: 'success',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    this.listar();
                }, 250);
            },
            respuestaError(error){
                console.log(error);
                let mensaje = "Se presento un erro favor de intentar de nuevo";
         
                if(typeof(error.response.data.error) === 'string'){
                    mensaje = error.response.data.error;
                }
                else{
                    let errores = Object.values(error.response.data.error);
                    mensaje = ``;

                    for (var i = 0; i < errores.length; i++) {
                        mensaje+= `* ` + errores[i] + `\n`;
                    }
                }

                swal("Error!", mensaje, {
                    icon : "error",
                    buttons: { confirm: { className : 'btn btn-danger'}},
                });
            }
        },
        created() {
            let cliente             = document.getElementById('clienteId').value;
            this.filtros.cliente_id = cliente == "" ? null : parseInt(cliente);
            this.usuario.cliente_id = this.filtros.cliente_id
            this.listar();
            
            if(cliente == ""){
                this.rol = 'admin';
                this.getClientes();
            }
        }
    }
</script>
